SemanticCloudClient/web/WEB-INF/wsdl/localhost_8080/AiPlanningServices/AiPlanningService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.aiplanning.foi.org.hr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.aiplanning.foi.org.hr/" name="AiPlanningService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.aiplanning.foi.org.hr/" schemaLocation="http://localhost:8080/AiPlanningServices/AiPlanningService?xsd=1"/>
</xsd:schema>
</types>
<message name="getInteroperabilityProblems">
<part name="parameters" element="tns:getInteroperabilityProblems"/>
</message>
<message name="getInteroperabilityProblemsResponse">
<part name="parameters" element="tns:getInteroperabilityProblemsResponse"/>
</message>
<message name="createProblemFile">
<part name="parameters" element="tns:createProblemFile"/>
</message>
<message name="createProblemFileResponse">
<part name="parameters" element="tns:createProblemFileResponse"/>
</message>
<message name="prepareAiPlan">
<part name="parameters" element="tns:prepareAiPlan"/>
</message>
<message name="prepareAiPlanResponse">
<part name="parameters" element="tns:prepareAiPlanResponse"/>
</message>
<message name="findAiPlan">
<part name="parameters" element="tns:findAiPlan"/>
</message>
<message name="findAiPlanResponse">
<part name="parameters" element="tns:findAiPlanResponse"/>
</message>
<message name="doesPlanExist">
<part name="parameters" element="tns:doesPlanExist"/>
</message>
<message name="doesPlanExistResponse">
<part name="parameters" element="tns:doesPlanExistResponse"/>
</message>
<message name="executeServicesFromPlan">
<part name="parameters" element="tns:executeServicesFromPlan"/>
</message>
<message name="executeServicesFromPlanResponse">
<part name="parameters" element="tns:executeServicesFromPlanResponse"/>
</message>
<message name="removeUnrelatedCsvFiles">
<part name="parameters" element="tns:removeUnrelatedCsvFiles"/>
</message>
<portType name="AiPlanningService">
<operation name="getInteroperabilityProblems">
<input wsam:Action="http://services.aiplanning.foi.org.hr/AiPlanningService/getInteroperabilityProblemsRequest" message="tns:getInteroperabilityProblems"/>
<output wsam:Action="http://services.aiplanning.foi.org.hr/AiPlanningService/getInteroperabilityProblemsResponse" message="tns:getInteroperabilityProblemsResponse"/>
</operation>
<operation name="createProblemFile">
<input wsam:Action="http://services.aiplanning.foi.org.hr/AiPlanningService/createProblemFileRequest" message="tns:createProblemFile"/>
<output wsam:Action="http://services.aiplanning.foi.org.hr/AiPlanningService/createProblemFileResponse" message="tns:createProblemFileResponse"/>
</operation>
<operation name="prepareAiPlan">
<input wsam:Action="http://services.aiplanning.foi.org.hr/AiPlanningService/prepareAiPlanRequest" message="tns:prepareAiPlan"/>
<output wsam:Action="http://services.aiplanning.foi.org.hr/AiPlanningService/prepareAiPlanResponse" message="tns:prepareAiPlanResponse"/>
</operation>
<operation name="findAiPlan">
<input wsam:Action="http://services.aiplanning.foi.org.hr/AiPlanningService/findAiPlanRequest" message="tns:findAiPlan"/>
<output wsam:Action="http://services.aiplanning.foi.org.hr/AiPlanningService/findAiPlanResponse" message="tns:findAiPlanResponse"/>
</operation>
<operation name="doesPlanExist">
<input wsam:Action="http://services.aiplanning.foi.org.hr/AiPlanningService/doesPlanExistRequest" message="tns:doesPlanExist"/>
<output wsam:Action="http://services.aiplanning.foi.org.hr/AiPlanningService/doesPlanExistResponse" message="tns:doesPlanExistResponse"/>
</operation>
<operation name="executeServicesFromPlan">
<input wsam:Action="http://services.aiplanning.foi.org.hr/AiPlanningService/executeServicesFromPlanRequest" message="tns:executeServicesFromPlan"/>
<output wsam:Action="http://services.aiplanning.foi.org.hr/AiPlanningService/executeServicesFromPlanResponse" message="tns:executeServicesFromPlanResponse"/>
</operation>
<operation name="removeUnrelatedCsvFiles">
<input wsam:Action="http://services.aiplanning.foi.org.hr/AiPlanningService/removeUnrelatedCsvFiles" message="tns:removeUnrelatedCsvFiles"/>
</operation>
</portType>
<binding name="AiPlanningServicePortBinding" type="tns:AiPlanningService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getInteroperabilityProblems">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createProblemFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="prepareAiPlan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAiPlan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="doesPlanExist">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="executeServicesFromPlan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeUnrelatedCsvFiles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="AiPlanningService">
<port name="AiPlanningServicePort" binding="tns:AiPlanningServicePortBinding">
<soap:address location="http://localhost:8080/AiPlanningServices/AiPlanningService"/>
</port>
</service>
</definitions>