SemanticCloudClient/src/conf/xml-resources/web-service-references/AzureServices/wsdl/localhost_8080/SemanticServiceDescription1/AzureServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.api.azure.foi.org.hr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.api.azure.foi.org.hr/" name="AzureServices">
<types>
<xsd:schema>
<xsd:import namespace="http://services.api.azure.foi.org.hr/" schemaLocation="http://localhost:8080/SemanticServiceDescription1/AzureServices?xsd=1"/>
</xsd:schema>
</types>
<message name="executeQuery">
<part name="parameters" element="tns:executeQuery"/>
</message>
<message name="executeQueryResponse">
<part name="parameters" element="tns:executeQueryResponse"/>
</message>
<message name="selectQuery">
<part name="parameters" element="tns:selectQuery"/>
</message>
<message name="selectQueryResponse">
<part name="parameters" element="tns:selectQueryResponse"/>
</message>
<message name="getDataTypesInCurrentData">
<part name="parameters" element="tns:getDataTypesInCurrentData"/>
</message>
<message name="getDataTypesInCurrentDataResponse">
<part name="parameters" element="tns:getDataTypesInCurrentDataResponse"/>
</message>
<message name="insertTodoItem">
<part name="parameters" element="tns:insertTodoItem"/>
</message>
<message name="insertTodoItemResponse">
<part name="parameters" element="tns:insertTodoItemResponse"/>
</message>
<message name="createAzureDataModelOntology">
<part name="parameters" element="tns:createAzureDataModelOntology"/>
</message>
<message name="createAzureDataModelOntologyResponse">
<part name="parameters" element="tns:createAzureDataModelOntologyResponse"/>
</message>
<message name="findKeys">
<part name="parameters" element="tns:findKeys"/>
</message>
<message name="findKeysResponse">
<part name="parameters" element="tns:findKeysResponse"/>
</message>
<message name="createTableFromDataOntology">
<part name="parameters" element="tns:createTableFromDataOntology"/>
</message>
<message name="createTableFromDataOntologyResponse">
<part name="parameters" element="tns:createTableFromDataOntologyResponse"/>
</message>
<message name="createBlobContainer">
<part name="parameters" element="tns:createBlobContainer"/>
</message>
<message name="createBlobContainerResponse">
<part name="parameters" element="tns:createBlobContainerResponse"/>
</message>
<message name="uploadBlob">
<part name="parameters" element="tns:uploadBlob"/>
</message>
<message name="uploadBlobResponse">
<part name="parameters" element="tns:uploadBlobResponse"/>
</message>
<message name="listBlobs">
<part name="parameters" element="tns:listBlobs"/>
</message>
<message name="listBlobsResponse">
<part name="parameters" element="tns:listBlobsResponse"/>
</message>
<message name="downloadBlobs">
<part name="parameters" element="tns:downloadBlobs"/>
</message>
<message name="downloadBlobsResponse">
<part name="parameters" element="tns:downloadBlobsResponse"/>
</message>
<message name="deleteBlob">
<part name="parameters" element="tns:deleteBlob"/>
</message>
<message name="deleteBlobResponse">
<part name="parameters" element="tns:deleteBlobResponse"/>
</message>
<message name="deleteBlobContainer">
<part name="parameters" element="tns:deleteBlobContainer"/>
</message>
<message name="deleteBlobContainerResponse">
<part name="parameters" element="tns:deleteBlobContainerResponse"/>
</message>
<message name="createTable">
<part name="parameters" element="tns:createTable"/>
</message>
<message name="createTableResponse">
<part name="parameters" element="tns:createTableResponse"/>
</message>
<message name="deleteTable">
<part name="parameters" element="tns:deleteTable"/>
</message>
<message name="deleteTableResponse">
<part name="parameters" element="tns:deleteTableResponse"/>
</message>
<message name="insertEntityToTable">
<part name="parameters" element="tns:insertEntityToTable"/>
</message>
<message name="insertEntityToTableResponse">
<part name="parameters" element="tns:insertEntityToTableResponse"/>
</message>
<portType name="AzureServices">
<operation name="executeQuery">
<input wsam:Action="http://services.api.azure.foi.org.hr/AzureServices/executeQueryRequest" message="tns:executeQuery"/>
<output wsam:Action="http://services.api.azure.foi.org.hr/AzureServices/executeQueryResponse" message="tns:executeQueryResponse"/>
</operation>
<operation name="selectQuery">
<input wsam:Action="http://services.api.azure.foi.org.hr/AzureServices/selectQueryRequest" message="tns:selectQuery"/>
<output wsam:Action="http://services.api.azure.foi.org.hr/AzureServices/selectQueryResponse" message="tns:selectQueryResponse"/>
</operation>
<operation name="getDataTypesInCurrentData">
<input wsam:Action="http://services.api.azure.foi.org.hr/AzureServices/getDataTypesInCurrentDataRequest" message="tns:getDataTypesInCurrentData"/>
<output wsam:Action="http://services.api.azure.foi.org.hr/AzureServices/getDataTypesInCurrentDataResponse" message="tns:getDataTypesInCurrentDataResponse"/>
</operation>
<operation name="insertTodoItem">
<input wsam:Action="http://services.api.azure.foi.org.hr/AzureServices/insertTodoItemRequest" message="tns:insertTodoItem"/>
<output wsam:Action="http://services.api.azure.foi.org.hr/AzureServices/insertTodoItemResponse" message="tns:insertTodoItemResponse"/>
</operation>
<operation name="createAzureDataModelOntology">
<input wsam:Action="http://services.api.azure.foi.org.hr/AzureServices/createAzureDataModelOntologyRequest" message="tns:createAzureDataModelOntology"/>
<output wsam:Action="http://services.api.azure.foi.org.hr/AzureServices/createAzureDataModelOntologyResponse" message="tns:createAzureDataModelOntologyResponse"/>
</operation>
<operation name="findKeys">
<input wsam:Action="http://services.api.azure.foi.org.hr/AzureServices/findKeysRequest" message="tns:findKeys"/>
<output wsam:Action="http://services.api.azure.foi.org.hr/AzureServices/findKeysResponse" message="tns:findKeysResponse"/>
</operation>
<operation name="createTableFromDataOntology">
<input wsam:Action="http://services.api.azure.foi.org.hr/AzureServices/createTableFromDataOntologyRequest" message="tns:createTableFromDataOntology"/>
<output wsam:Action="http://services.api.azure.foi.org.hr/AzureServices/createTableFromDataOntologyResponse" message="tns:createTableFromDataOntologyResponse"/>
</operation>
<operation name="createBlobContainer">
<input wsam:Action="http://services.api.azure.foi.org.hr/AzureServices/createBlobContainerRequest" message="tns:createBlobContainer"/>
<output wsam:Action="http://services.api.azure.foi.org.hr/AzureServices/createBlobContainerResponse" message="tns:createBlobContainerResponse"/>
</operation>
<operation name="uploadBlob">
<input wsam:Action="http://services.api.azure.foi.org.hr/AzureServices/uploadBlobRequest" message="tns:uploadBlob"/>
<output wsam:Action="http://services.api.azure.foi.org.hr/AzureServices/uploadBlobResponse" message="tns:uploadBlobResponse"/>
</operation>
<operation name="listBlobs">
<input wsam:Action="http://services.api.azure.foi.org.hr/AzureServices/listBlobsRequest" message="tns:listBlobs"/>
<output wsam:Action="http://services.api.azure.foi.org.hr/AzureServices/listBlobsResponse" message="tns:listBlobsResponse"/>
</operation>
<operation name="downloadBlobs">
<input wsam:Action="http://services.api.azure.foi.org.hr/AzureServices/downloadBlobsRequest" message="tns:downloadBlobs"/>
<output wsam:Action="http://services.api.azure.foi.org.hr/AzureServices/downloadBlobsResponse" message="tns:downloadBlobsResponse"/>
</operation>
<operation name="deleteBlob">
<input wsam:Action="http://services.api.azure.foi.org.hr/AzureServices/deleteBlobRequest" message="tns:deleteBlob"/>
<output wsam:Action="http://services.api.azure.foi.org.hr/AzureServices/deleteBlobResponse" message="tns:deleteBlobResponse"/>
</operation>
<operation name="deleteBlobContainer">
<input wsam:Action="http://services.api.azure.foi.org.hr/AzureServices/deleteBlobContainerRequest" message="tns:deleteBlobContainer"/>
<output wsam:Action="http://services.api.azure.foi.org.hr/AzureServices/deleteBlobContainerResponse" message="tns:deleteBlobContainerResponse"/>
</operation>
<operation name="createTable">
<input wsam:Action="http://services.api.azure.foi.org.hr/AzureServices/createTableRequest" message="tns:createTable"/>
<output wsam:Action="http://services.api.azure.foi.org.hr/AzureServices/createTableResponse" message="tns:createTableResponse"/>
</operation>
<operation name="deleteTable">
<input wsam:Action="http://services.api.azure.foi.org.hr/AzureServices/deleteTableRequest" message="tns:deleteTable"/>
<output wsam:Action="http://services.api.azure.foi.org.hr/AzureServices/deleteTableResponse" message="tns:deleteTableResponse"/>
</operation>
<operation name="insertEntityToTable">
<input wsam:Action="http://services.api.azure.foi.org.hr/AzureServices/insertEntityToTableRequest" message="tns:insertEntityToTable"/>
<output wsam:Action="http://services.api.azure.foi.org.hr/AzureServices/insertEntityToTableResponse" message="tns:insertEntityToTableResponse"/>
</operation>
</portType>
<binding name="AzureServicesPortBinding" type="tns:AzureServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="executeQuery">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="selectQuery">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDataTypesInCurrentData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertTodoItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createAzureDataModelOntology">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findKeys">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createTableFromDataOntology">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createBlobContainer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="uploadBlob">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listBlobs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="downloadBlobs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteBlob">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteBlobContainer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createTable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteTable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertEntityToTable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AzureServices">
<port name="AzureServicesPort" binding="tns:AzureServicesPortBinding">
<soap:address location="http://localhost:8080/SemanticServiceDescription1/AzureServices"/>
</port>
</service>
</definitions>