SowerWeb/web/wsdls/GoogleAppEngineServices.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://services.api.appengine.foi.org.hr/" name="GoogleAppEngineServices" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://services.api.appengine.foi.org.hr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://services.api.appengine.foi.org.hr/" schemaLocation="GoogleAppEngineServices_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="get">
    <part name="parameters" element="tns:get"/>
  </message>
  <message name="getResponse">
    <part name="parameters" element="tns:getResponse"/>
  </message>
  <message name="put">
    <part name="parameters" element="tns:put"/>
  </message>
  <message name="putResponse">
    <part name="parameters" element="tns:putResponse"/>
  </message>
  <message name="delete">
    <part name="parameters" element="tns:delete"/>
  </message>
  <message name="deleteResponse">
    <part name="parameters" element="tns:deleteResponse"/>
  </message>
  <message name="query">
    <part name="parameters" element="tns:query"/>
  </message>
  <message name="queryResponse">
    <part name="parameters" element="tns:queryResponse"/>
  </message>
  <message name="retrieve">
    <part name="parameters" element="tns:retrieve"/>
  </message>
  <message name="retrieveResponse">
    <part name="parameters" element="tns:retrieveResponse"/>
  </message>
  <message name="getDataTypesInCurrentData">
    <part name="parameters" element="tns:getDataTypesInCurrentData"/>
  </message>
  <message name="getDataTypesInCurrentDataResponse">
    <part name="parameters" element="tns:getDataTypesInCurrentDataResponse"/>
  </message>
  <message name="getCapabilityStatus">
    <part name="parameters" element="tns:getCapabilityStatus"/>
  </message>
  <message name="getCapabilityStatusResponse">
    <part name="parameters" element="tns:getCapabilityStatusResponse"/>
  </message>
  <message name="createEntitiesFromDataOntology">
    <part name="parameters" element="tns:createEntitiesFromDataOntology"/>
  </message>
  <message name="createEntitiesFromDataOntologyResponse">
    <part name="parameters" element="tns:createEntitiesFromDataOntologyResponse"/>
  </message>
  <message name="getEntitiesOfKind">
    <part name="parameters" element="tns:getEntitiesOfKind"/>
  </message>
  <message name="getEntitiesOfKindResponse">
    <part name="parameters" element="tns:getEntitiesOfKindResponse"/>
  </message>
  <message name="testReturnOfList">
    <part name="parameters" element="tns:testReturnOfList"/>
  </message>
  <message name="testReturnOfListResponse">
    <part name="parameters" element="tns:testReturnOfListResponse"/>
  </message>
  <message name="deleteKeyName">
    <part name="parameters" element="tns:deleteKeyName"/>
  </message>
  <message name="deleteKeyNameResponse">
    <part name="parameters" element="tns:deleteKeyNameResponse"/>
  </message>
  <message name="createDataModelOntology">
    <part name="parameters" element="tns:createDataModelOntology"/>
  </message>
  <message name="createDataModelOntologyResponse">
    <part name="parameters" element="tns:createDataModelOntologyResponse"/>
  </message>
  <portType name="GoogleAppEngineServices">
    <operation name="get">
      <input wsam:Action="http://services.api.appengine.foi.org.hr/GoogleAppEngineServices/getRequest" message="tns:get"/>
      <output wsam:Action="http://services.api.appengine.foi.org.hr/GoogleAppEngineServices/getResponse" message="tns:getResponse"/>
    </operation>
    <operation name="put">
      <input wsam:Action="http://services.api.appengine.foi.org.hr/GoogleAppEngineServices/putRequest" message="tns:put"/>
      <output wsam:Action="http://services.api.appengine.foi.org.hr/GoogleAppEngineServices/putResponse" message="tns:putResponse"/>
    </operation>
    <operation name="delete">
      <input wsam:Action="http://services.api.appengine.foi.org.hr/GoogleAppEngineServices/deleteRequest" message="tns:delete"/>
      <output wsam:Action="http://services.api.appengine.foi.org.hr/GoogleAppEngineServices/deleteResponse" message="tns:deleteResponse"/>
    </operation>
    <operation name="query">
      <input wsam:Action="http://services.api.appengine.foi.org.hr/GoogleAppEngineServices/queryRequest" message="tns:query"/>
      <output wsam:Action="http://services.api.appengine.foi.org.hr/GoogleAppEngineServices/queryResponse" message="tns:queryResponse"/>
    </operation>
    <operation name="retrieve">
      <input wsam:Action="http://services.api.appengine.foi.org.hr/GoogleAppEngineServices/retrieveRequest" message="tns:retrieve"/>
      <output wsam:Action="http://services.api.appengine.foi.org.hr/GoogleAppEngineServices/retrieveResponse" message="tns:retrieveResponse"/>
    </operation>
    <operation name="getDataTypesInCurrentData">
      <input wsam:Action="http://services.api.appengine.foi.org.hr/GoogleAppEngineServices/getDataTypesInCurrentDataRequest" message="tns:getDataTypesInCurrentData"/>
      <output wsam:Action="http://services.api.appengine.foi.org.hr/GoogleAppEngineServices/getDataTypesInCurrentDataResponse" message="tns:getDataTypesInCurrentDataResponse"/>
    </operation>
    <operation name="getCapabilityStatus">
      <input wsam:Action="http://services.api.appengine.foi.org.hr/GoogleAppEngineServices/getCapabilityStatusRequest" message="tns:getCapabilityStatus"/>
      <output wsam:Action="http://services.api.appengine.foi.org.hr/GoogleAppEngineServices/getCapabilityStatusResponse" message="tns:getCapabilityStatusResponse"/>
    </operation>
    <operation name="createEntitiesFromDataOntology">
      <input wsam:Action="http://services.api.appengine.foi.org.hr/GoogleAppEngineServices/createEntitiesFromDataOntologyRequest" message="tns:createEntitiesFromDataOntology"/>
      <output wsam:Action="http://services.api.appengine.foi.org.hr/GoogleAppEngineServices/createEntitiesFromDataOntologyResponse" message="tns:createEntitiesFromDataOntologyResponse"/>
    </operation>
    <operation name="getEntitiesOfKind">
      <input wsam:Action="http://services.api.appengine.foi.org.hr/GoogleAppEngineServices/getEntitiesOfKindRequest" message="tns:getEntitiesOfKind"/>
      <output wsam:Action="http://services.api.appengine.foi.org.hr/GoogleAppEngineServices/getEntitiesOfKindResponse" message="tns:getEntitiesOfKindResponse"/>
    </operation>
    <operation name="testReturnOfList">
      <input wsam:Action="http://services.api.appengine.foi.org.hr/GoogleAppEngineServices/testReturnOfListRequest" message="tns:testReturnOfList"/>
      <output wsam:Action="http://services.api.appengine.foi.org.hr/GoogleAppEngineServices/testReturnOfListResponse" message="tns:testReturnOfListResponse"/>
    </operation>
    <operation name="deleteKeyName">
      <input wsam:Action="http://services.api.appengine.foi.org.hr/GoogleAppEngineServices/deleteKeyNameRequest" message="tns:deleteKeyName"/>
      <output wsam:Action="http://services.api.appengine.foi.org.hr/GoogleAppEngineServices/deleteKeyNameResponse" message="tns:deleteKeyNameResponse"/>
    </operation>
    <operation name="createDataModelOntology">
      <input wsam:Action="http://services.api.appengine.foi.org.hr/GoogleAppEngineServices/createDataModelOntologyRequest" message="tns:createDataModelOntology"/>
      <output wsam:Action="http://services.api.appengine.foi.org.hr/GoogleAppEngineServices/createDataModelOntologyResponse" message="tns:createDataModelOntologyResponse"/>
    </operation>
  </portType>
  <binding name="GoogleAppEngineServicesPortBinding" type="tns:GoogleAppEngineServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="get">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="put">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="delete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="query">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="retrieve">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getDataTypesInCurrentData">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCapabilityStatus">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createEntitiesFromDataOntology">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getEntitiesOfKind">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="testReturnOfList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteKeyName">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createDataModelOntology">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="GoogleAppEngineServices">
    <port name="GoogleAppEngineServicesPort" binding="tns:GoogleAppEngineServicesPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

