SemanticServiceDescription/web/new_salesforce_wsdl/SalesForceServices.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://services.api.salesforce.foi.org.hr/" name="SalesForceServices" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://services.api.salesforce.foi.org.hr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <wsp:Policy wsu:Id="SalesForceServicesPortBindingPolicy"/>
    <types>
        <xsd:schema version="1.0" targetNamespace="http://services.api.salesforce.foi.org.hr/" xmlns:tns="http://services.api.salesforce.foi.org.hr/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

            <xs:element name="Exception" type="tns:Exception"/>

            <xs:element name="checkStatusMetadata" type="tns:checkStatusMetadata"/>

            <xs:element name="checkStatusMetadataResponse" type="tns:checkStatusMetadataResponse"/>

            <xs:element name="convertLeadRecords" type="tns:convertLeadRecords"/>

            <xs:element name="convertLeadRecordsResponse" type="tns:convertLeadRecordsResponse"/>

            <xs:element name="create" type="tns:create"/>

            <xs:element name="createCustomObjectsFromDataOntology" type="tns:createCustomObjectsFromDataOntology"/>

            <xs:element name="createCustomObjectsFromDataOntologyResponse" type="tns:createCustomObjectsFromDataOntologyResponse"/>

            <xs:element name="createMetadata" type="tns:createMetadata"/>

            <xs:element name="createMetadataResponse" type="tns:createMetadataResponse"/>

            <xs:element name="createResponse" type="tns:createResponse"/>

            <xs:element name="createSalesforceDataModelOntology" type="tns:createSalesforceDataModelOntology"/>

            <xs:element name="createSalesforceDataModelOntologyResponse" type="tns:createSalesforceDataModelOntologyResponse"/>

            <xs:element name="delete" type="tns:delete"/>

            <xs:element name="deleteMetadata" type="tns:deleteMetadata"/>

            <xs:element name="deleteMetadataResponse" type="tns:deleteMetadataResponse"/>

            <xs:element name="deleteResponse" type="tns:deleteResponse"/>

            <xs:element name="describeDataCategoryGroupStructures" type="tns:describeDataCategoryGroupStructures"/>

            <xs:element name="describeDataCategoryGroupStructuresResponse" type="tns:describeDataCategoryGroupStructuresResponse"/>

            <xs:element name="describeDataCategoryGroups" type="tns:describeDataCategoryGroups"/>

            <xs:element name="describeDataCategoryGroupsResponse" type="tns:describeDataCategoryGroupsResponse"/>

            <xs:element name="describeGlobal" type="tns:describeGlobal"/>

            <xs:element name="describeGlobalResponse" type="tns:describeGlobalResponse"/>

            <xs:element name="describeLayout" type="tns:describeLayout"/>

            <xs:element name="describeLayoutResponse" type="tns:describeLayoutResponse"/>

            <xs:element name="describeMetadata" type="tns:describeMetadata"/>

            <xs:element name="describeMetadataResponse" type="tns:describeMetadataResponse"/>

            <xs:element name="describeSObject" type="tns:describeSObject"/>

            <xs:element name="describeSObjectResponse" type="tns:describeSObjectResponse"/>

            <xs:element name="describeSObjects" type="tns:describeSObjects"/>

            <xs:element name="describeSObjectsResponse" type="tns:describeSObjectsResponse"/>

            <xs:element name="describeSalesforceObject" type="tns:describeSalesforceObject"/>

            <xs:element name="describeSalesforceObjectResponse" type="tns:describeSalesforceObjectResponse"/>

            <xs:element name="describeSearchScopeOrder" type="tns:describeSearchScopeOrder"/>

            <xs:element name="describeSearchScopeOrderResponse" type="tns:describeSearchScopeOrderResponse"/>

            <xs:element name="describeSoftphoneLayout" type="tns:describeSoftphoneLayout"/>

            <xs:element name="describeSoftphoneLayoutResponse" type="tns:describeSoftphoneLayoutResponse"/>

            <xs:element name="describeTabs" type="tns:describeTabs"/>

            <xs:element name="describeTabsResponse" type="tns:describeTabsResponse"/>

            <xs:element name="emptyRecycleBin" type="tns:emptyRecycleBin"/>

            <xs:element name="emptyRecycleBinResponse" type="tns:emptyRecycleBinResponse"/>

            <xs:element name="getDataTypesInCurrentData" type="tns:getDataTypesInCurrentData"/>

            <xs:element name="getDataTypesInCurrentDataResponse" type="tns:getDataTypesInCurrentDataResponse"/>

            <xs:element name="getDeleted" type="tns:getDeleted"/>

            <xs:element name="getDeletedResponse" type="tns:getDeletedResponse"/>

            <xs:element name="getServerTimeStamp" type="tns:getServerTimeStamp"/>

            <xs:element name="getServerTimeStampResponse" type="tns:getServerTimeStampResponse"/>

            <xs:element name="getUpdated" type="tns:getUpdated"/>

            <xs:element name="getUpdatedResponse" type="tns:getUpdatedResponse"/>

            <xs:element name="getUserInfo" type="tns:getUserInfo"/>

            <xs:element name="getUserInfoResponse" type="tns:getUserInfoResponse"/>

            <xs:element name="insertDataIntoCreatedCustomObjects" type="tns:insertDataIntoCreatedCustomObjects"/>

            <xs:element name="insertDataIntoCreatedCustomObjectsResponse" type="tns:insertDataIntoCreatedCustomObjectsResponse"/>

            <xs:element name="invalidateSessions" type="tns:invalidateSessions"/>

            <xs:element name="invalidateSessionsResponse" type="tns:invalidateSessionsResponse"/>

            <xs:element name="isUserLoggedIn" type="tns:isUserLoggedIn"/>

            <xs:element name="isUserLoggedInResponse" type="tns:isUserLoggedInResponse"/>

            <xs:element name="login" type="tns:login"/>

            <xs:element name="loginParnerConnection" type="tns:loginParnerConnection"/>

            <xs:element name="loginParnerConnectionResponse" type="tns:loginParnerConnectionResponse"/>

            <xs:element name="loginResponse" type="tns:loginResponse"/>

            <xs:element name="logout" type="tns:logout"/>

            <xs:element name="logoutPartnerConnection" type="tns:logoutPartnerConnection"/>

            <xs:element name="logoutPartnerConnectionResponse" type="tns:logoutPartnerConnectionResponse"/>

            <xs:element name="logoutResponse" type="tns:logoutResponse"/>

            <xs:element name="merge" type="tns:merge"/>

            <xs:element name="mergeResponse" type="tns:mergeResponse"/>

            <xs:element name="printAsyncResultStatus" type="tns:printAsyncResultStatus"/>

            <xs:element name="printAsyncResultStatusResponse" type="tns:printAsyncResultStatusResponse"/>

            <xs:element name="process" type="tns:process"/>

            <xs:element name="processResponse" type="tns:processResponse"/>

            <xs:element name="query" type="tns:query"/>

            <xs:element name="queryAll" type="tns:queryAll"/>

            <xs:element name="queryAllResponse" type="tns:queryAllResponse"/>

            <xs:element name="queryResponse" type="tns:queryResponse"/>

            <xs:element name="resetPassword" type="tns:resetPassword"/>

            <xs:element name="resetPasswordResponse" type="tns:resetPasswordResponse"/>

            <xs:element name="retrieve" type="tns:retrieve"/>

            <xs:element name="retrieveResponse" type="tns:retrieveResponse"/>

            <xs:element name="search" type="tns:search"/>

            <xs:element name="searchResponse" type="tns:searchResponse"/>

            <xs:element name="sendEmail" type="tns:sendEmail"/>

            <xs:element name="sendEmailResponse" type="tns:sendEmailResponse"/>

            <xs:element name="setPassword" type="tns:setPassword"/>

            <xs:element name="setPasswordResponse" type="tns:setPasswordResponse"/>

            <xs:element name="undelete" type="tns:undelete"/>

            <xs:element name="undeleteResponse" type="tns:undeleteResponse"/>

            <xs:element name="update" type="tns:update"/>

            <xs:element name="updateMetadatas" type="tns:updateMetadatas"/>

            <xs:element name="updateMetadatasResponse" type="tns:updateMetadatasResponse"/>

            <xs:element name="updateResponse" type="tns:updateResponse"/>

            <xs:element name="upsert" type="tns:upsert"/>

            <xs:element name="upsertResponse" type="tns:upsertResponse"/>

            <xs:complexType name="delete">
                <xs:sequence>
                    <xs:element name="ids" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="deleteResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="createMetadata">
                <xs:sequence>
                    <xs:element name="metadata" type="tns:metadata" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="metadata">
                <xs:sequence>
                    <xs:element name="fullName" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="createMetadataResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="describeTabs">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="describeTabsResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="login">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="loginResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="describeMetadata">
                <xs:sequence>
                    <xs:element name="apiVersion" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="describeMetadataResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="setPassword">
                <xs:sequence>
                    <xs:element name="userId" type="xs:string" minOccurs="0"/>
                    <xs:element name="password" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="setPasswordResponse">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="describeSoftphoneLayout">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="describeSoftphoneLayoutResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="loginParnerConnection">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="loginParnerConnectionResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="describeSObject">
                <xs:sequence>
                    <xs:element name="objectType" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="describeSObjectResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="createCustomObjectsFromDataOntology">
                <xs:sequence>
                    <xs:element name="pathToOntology" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="createCustomObjectsFromDataOntologyResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element name="message" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="deleteMetadata">
                <xs:sequence>
                    <xs:element name="metadata" type="tns:metadata" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="deleteMetadataResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="describeSearchScopeOrder">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="describeSearchScopeOrderResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="search">
                <xs:sequence>
                    <xs:element name="searchString" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="searchResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="describeDataCategoryGroups">
                <xs:sequence>
                    <xs:element name="sObjectTypes" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="describeDataCategoryGroupsResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="printAsyncResultStatus">
                <xs:sequence>
                    <xs:element name="arg0" type="tns:asyncResult" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="asyncResult">
                <xs:sequence>
                    <xs:element name="checkOnly" type="xs:boolean"/>
                    <xs:element name="done" type="xs:boolean"/>
                    <xs:element name="id" type="xs:string" minOccurs="0"/>
                    <xs:element name="message" type="xs:string" minOccurs="0"/>
                    <xs:element name="numberComponentErrors" type="xs:int"/>
                    <xs:element name="numberComponentsDeployed" type="xs:int"/>
                    <xs:element name="numberComponentsTotal" type="xs:int"/>
                    <xs:element name="numberTestErrors" type="xs:int"/>
                    <xs:element name="numberTestsCompleted" type="xs:int"/>
                    <xs:element name="numberTestsTotal" type="xs:int"/>
                    <xs:element name="state" type="tns:asyncRequestState" minOccurs="0"/>
                    <xs:element name="stateDetail" type="xs:string" minOccurs="0"/>
                    <xs:element name="stateDetailLastModifiedDate" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="statusCode" type="tns:statusCode" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="printAsyncResultStatusResponse">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="queryAll">
                <xs:sequence>
                    <xs:element name="query" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="queryAllResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="getUpdated">
                <xs:sequence>
                    <xs:element name="objectType" type="xs:string" minOccurs="0"/>
                    <xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="getUpdatedResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="describeSObjects">
                <xs:sequence>
                    <xs:element name="objectTypes" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="describeSObjectsResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="checkStatusMetadata">
                <xs:sequence>
                    <xs:element name="ids" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="checkStatusMetadataResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="upsert">
                <xs:sequence>
                    <xs:element name="externalIdFieldName" type="xs:string" minOccurs="0"/>
                    <xs:element name="sObjects" type="tns:sObject" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="sObject">
                <xs:sequence>
                    <xs:element name="fieldsToNull" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="id" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="upsertResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="describeSalesforceObject">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="describeSalesforceObjectResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="update">
                <xs:sequence>
                    <xs:element name="sObjects" type="tns:sObject" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="updateResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="undelete">
                <xs:sequence>
                    <xs:element name="ids" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="undeleteResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="resetPassword">
                <xs:sequence>
                    <xs:element name="userId" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="resetPasswordResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="isUserLoggedIn">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="isUserLoggedInResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="getServerTimeStamp">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="getServerTimeStampResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="query">
                <xs:sequence>
                    <xs:element name="query" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="queryResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="getDataTypesInCurrentData">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="getDataTypesInCurrentDataResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="updateMetadatas">
                <xs:sequence>
                    <xs:element name="metadata" type="tns:updateMetadata" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="updateMetadata">
                <xs:sequence>
                    <xs:element name="currentName" type="xs:string" minOccurs="0"/>
                    <xs:element name="metadata" type="tns:metadata" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="updateMetadatasResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="merge">
                <xs:sequence>
                    <xs:element name="mergeRequests" type="tns:mergeRequest" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="mergeRequest">
                <xs:sequence>
                    <xs:element name="masterRecord" type="tns:sObject" minOccurs="0"/>
                    <xs:element name="recordToMergeIds" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="mergeResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="convertLeadRecords">
                <xs:sequence>
                    <xs:element name="leadsToConvert" type="tns:leadConvert" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="leadConvert">
                <xs:sequence>
                    <xs:element name="accountId" type="xs:string" minOccurs="0"/>
                    <xs:element name="contactId" type="xs:string" minOccurs="0"/>
                    <xs:element name="convertedStatus" type="xs:string" minOccurs="0"/>
                    <xs:element name="doNotCreateOpportunity" type="xs:boolean"/>
                    <xs:element name="leadId" type="xs:string" minOccurs="0"/>
                    <xs:element name="opportunityName" type="xs:string" minOccurs="0"/>
                    <xs:element name="overwriteLeadSource" type="xs:boolean"/>
                    <xs:element name="ownerId" type="xs:string" minOccurs="0"/>
                    <xs:element name="sendNotificationEmail" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="convertLeadRecordsResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="sendEmail">
                <xs:sequence>
                    <xs:element name="from" type="xs:string" minOccurs="0"/>
                    <xs:element name="to" type="xs:string" minOccurs="0"/>
                    <xs:element name="subject" type="xs:string" minOccurs="0"/>
                    <xs:element name="text" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="sendEmailResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="describeDataCategoryGroupStructures">
                <xs:sequence>
                    <xs:element name="pairs" type="tns:dataCategoryGroupSobjectTypePair" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="topCategoriesOnly" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="dataCategoryGroupSobjectTypePair">
                <xs:sequence>
                    <xs:element name="dataCategoryGroupName" type="xs:string" minOccurs="0"/>
                    <xs:element name="sobject" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="describeDataCategoryGroupStructuresResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="logoutPartnerConnection">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="logoutPartnerConnectionResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="process">
                <xs:sequence>
                    <xs:element name="id" type="xs:string" minOccurs="0"/>
                    <xs:element name="approverIds" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="processResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="describeLayout">
                <xs:sequence>
                    <xs:element name="objectType" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="describeLayoutResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="emptyRecycleBin">
                <xs:sequence>
                    <xs:element name="ids" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="emptyRecycleBinResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="logout">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="logoutResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="retrieve">
                <xs:sequence>
                    <xs:element name="fieldList" type="xs:string" minOccurs="0"/>
                    <xs:element name="objectType" type="xs:string" minOccurs="0"/>
                    <xs:element name="ids" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="retrieveResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="describeGlobal">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="describeGlobalResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="createSalesforceDataModelOntology">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="createSalesforceDataModelOntologyResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="getUserInfo">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="getUserInfoResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:getUserInfoResult" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="getUserInfoResult">
                <xs:sequence>
                    <xs:element name="accessibilityMode" type="xs:boolean"/>
                    <xs:element name="currencySymbol" type="xs:string" minOccurs="0"/>
                    <xs:element name="orgAttachmentFileSizeLimit" type="xs:int"/>
                    <xs:element name="orgDefaultCurrencyIsoCode" type="xs:string" minOccurs="0"/>
                    <xs:element name="orgDisallowHtmlAttachments" type="xs:boolean"/>
                    <xs:element name="orgHasPersonAccounts" type="xs:boolean"/>
                    <xs:element name="organizationId" type="xs:string" minOccurs="0"/>
                    <xs:element name="organizationMultiCurrency" type="xs:boolean"/>
                    <xs:element name="organizationName" type="xs:string" minOccurs="0"/>
                    <xs:element name="profileId" type="xs:string" minOccurs="0"/>
                    <xs:element name="roleId" type="xs:string" minOccurs="0"/>
                    <xs:element name="sessionSecondsValid" type="xs:int"/>
                    <xs:element name="userDefaultCurrencyIsoCode" type="xs:string" minOccurs="0"/>
                    <xs:element name="userEmail" type="xs:string" minOccurs="0"/>
                    <xs:element name="userFullName" type="xs:string" minOccurs="0"/>
                    <xs:element name="userId" type="xs:string" minOccurs="0"/>
                    <xs:element name="userLanguage" type="xs:string" minOccurs="0"/>
                    <xs:element name="userLocale" type="xs:string" minOccurs="0"/>
                    <xs:element name="userName" type="xs:string" minOccurs="0"/>
                    <xs:element name="userTimeZone" type="xs:string" minOccurs="0"/>
                    <xs:element name="userType" type="xs:string" minOccurs="0"/>
                    <xs:element name="userUiSkin" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="invalidateSessions">
                <xs:sequence>
                    <xs:element name="sessionIds" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="invalidateSessionsResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="create">
                <xs:sequence>
                    <xs:element name="sObjects" type="tns:sObject" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="createResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="insertDataIntoCreatedCustomObjects">
                <xs:sequence>
                    <xs:element name="pathToOntology" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="insertDataIntoCreatedCustomObjectsResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="getDeleted">
                <xs:sequence>
                    <xs:element name="objectType" type="xs:string" minOccurs="0"/>
                    <xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="getDeletedResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:simpleType name="asyncRequestState">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Queued"/>
                    <xs:enumeration value="InProgress"/>
                    <xs:enumeration value="Completed"/>
                    <xs:enumeration value="Error"/>
                </xs:restriction>
            </xs:simpleType>

            <xs:simpleType name="statusCode">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="ALL_OR_NONE_OPERATION_ROLLED_BACK"/>
                    <xs:enumeration value="ALREADY_IN_PROCESS"/>
                    <xs:enumeration value="ASSIGNEE_TYPE_REQUIRED"/>
                    <xs:enumeration value="BAD_CUSTOM_ENTITY_PARENT_DOMAIN"/>
                    <xs:enumeration value="BCC_NOT_ALLOWED_IF_BCC_COMPLIANCE_ENABLED"/>
                    <xs:enumeration value="CANNOT_CASCADE_PRODUCT_ACTIVE"/>
                    <xs:enumeration value="CANNOT_CHANGE_FIELD_TYPE_OF_APEX_REFERENCED_FIELD"/>
                    <xs:enumeration value="CANNOT_CHANGE_FIELD_TYPE_OF_REFERENCED_FIELD"/>
                    <xs:enumeration value="CANNOT_CREATE_ANOTHER_MANAGED_PACKAGE"/>
                    <xs:enumeration value="CANNOT_DEACTIVATE_DIVISION"/>
                    <xs:enumeration value="CANNOT_DELETE_LAST_DATED_CONVERSION_RATE"/>
                    <xs:enumeration value="CANNOT_DELETE_MANAGED_OBJECT"/>
                    <xs:enumeration value="CANNOT_DISABLE_LAST_ADMIN"/>
                    <xs:enumeration value="CANNOT_ENABLE_IP_RESTRICT_REQUESTS"/>
                    <xs:enumeration value="CANNOT_INSERT_UPDATE_ACTIVATE_ENTITY"/>
                    <xs:enumeration value="CANNOT_MODIFY_MANAGED_OBJECT"/>
                    <xs:enumeration value="CANNOT_RENAME_APEX_REFERENCED_FIELD"/>
                    <xs:enumeration value="CANNOT_RENAME_APEX_REFERENCED_OBJECT"/>
                    <xs:enumeration value="CANNOT_RENAME_REFERENCED_FIELD"/>
                    <xs:enumeration value="CANNOT_RENAME_REFERENCED_OBJECT"/>
                    <xs:enumeration value="CANNOT_REPARENT_RECORD"/>
                    <xs:enumeration value="CANNOT_UPDATE_CONVERTED_LEAD"/>
                    <xs:enumeration value="CANT_DISABLE_CORP_CURRENCY"/>
                    <xs:enumeration value="CANT_UNSET_CORP_CURRENCY"/>
                    <xs:enumeration value="CHILD_SHARE_FAILS_PARENT"/>
                    <xs:enumeration value="CIRCULAR_DEPENDENCY"/>
                    <xs:enumeration value="COMMUNITY_NOT_ACCESSIBLE"/>
                    <xs:enumeration value="CUSTOM_CLOB_FIELD_LIMIT_EXCEEDED"/>
                    <xs:enumeration value="CUSTOM_ENTITY_OR_FIELD_LIMIT"/>
                    <xs:enumeration value="CUSTOM_FIELD_INDEX_LIMIT_EXCEEDED"/>
                    <xs:enumeration value="CUSTOM_INDEX_EXISTS"/>
                    <xs:enumeration value="CUSTOM_LINK_LIMIT_EXCEEDED"/>
                    <xs:enumeration value="CUSTOM_TAB_LIMIT_EXCEEDED"/>
                    <xs:enumeration value="DELETE_FAILED"/>
                    <xs:enumeration value="DELETE_OPERATION_TOO_LARGE"/>
                    <xs:enumeration value="DELETE_REQUIRED_ON_CASCADE"/>
                    <xs:enumeration value="DEPENDENCY_EXISTS"/>
                    <xs:enumeration value="DUPLICATE_CASE_SOLUTION"/>
                    <xs:enumeration value="DUPLICATE_COMM_NICKNAME"/>
                    <xs:enumeration value="DUPLICATE_CUSTOM_ENTITY_DEFINITION"/>
                    <xs:enumeration value="DUPLICATE_CUSTOM_TAB_MOTIF"/>
                    <xs:enumeration value="DUPLICATE_DEVELOPER_NAME"/>
                    <xs:enumeration value="DUPLICATE_EXTERNAL_ID"/>
                    <xs:enumeration value="DUPLICATE_MASTER_LABEL"/>
                    <xs:enumeration value="DUPLICATE_SENDER_DISPLAY_NAME"/>
                    <xs:enumeration value="DUPLICATE_USERNAME"/>
                    <xs:enumeration value="DUPLICATE_VALUE"/>
                    <xs:enumeration value="EMAIL_NOT_PROCESSED_DUE_TO_PRIOR_ERROR"/>
                    <xs:enumeration value="EMPTY_SCONTROL_FILE_NAME"/>
                    <xs:enumeration value="ENTITY_FAILED_IFLASTMODIFIED_ON_UPDATE"/>
                    <xs:enumeration value="ENTITY_IS_ARCHIVED"/>
                    <xs:enumeration value="ENTITY_IS_DELETED"/>
                    <xs:enumeration value="ENTITY_IS_LOCKED"/>
                    <xs:enumeration value="ENVIRONMENT_HUB_MEMBERSHIP_CONFLICT"/>
                    <xs:enumeration value="ERROR_IN_MAILER"/>
                    <xs:enumeration value="FAILED_ACTIVATION"/>
                    <xs:enumeration value="FIELD_CUSTOM_VALIDATION_EXCEPTION"/>
                    <xs:enumeration value="FIELD_FILTER_VALIDATION_EXCEPTION"/>
                    <xs:enumeration value="FIELD_INTEGRITY_EXCEPTION"/>
                    <xs:enumeration value="FILTERED_LOOKUP_LIMIT_EXCEEDED"/>
                    <xs:enumeration value="HTML_FILE_UPLOAD_NOT_ALLOWED"/>
                    <xs:enumeration value="IMAGE_TOO_LARGE"/>
                    <xs:enumeration value="INACTIVE_OWNER_OR_USER"/>
                    <xs:enumeration value="INSUFFICIENT_ACCESS_ON_CROSS_REFERENCE_ENTITY"/>
                    <xs:enumeration value="INSUFFICIENT_ACCESS_OR_READONLY"/>
                    <xs:enumeration value="INVALID_ACCESS_LEVEL"/>
                    <xs:enumeration value="INVALID_ARGUMENT_TYPE"/>
                    <xs:enumeration value="INVALID_ASSIGNEE_TYPE"/>
                    <xs:enumeration value="INVALID_ASSIGNMENT_RULE"/>
                    <xs:enumeration value="INVALID_BATCH_OPERATION"/>
                    <xs:enumeration value="INVALID_CONTENT_TYPE"/>
                    <xs:enumeration value="INVALID_CREDIT_CARD_INFO"/>
                    <xs:enumeration value="INVALID_CROSS_REFERENCE_KEY"/>
                    <xs:enumeration value="INVALID_CROSS_REFERENCE_TYPE_FOR_FIELD"/>
                    <xs:enumeration value="INVALID_CURRENCY_CONV_RATE"/>
                    <xs:enumeration value="INVALID_CURRENCY_CORP_RATE"/>
                    <xs:enumeration value="INVALID_CURRENCY_ISO"/>
                    <xs:enumeration value="INVALID_DATA_CATEGORY_GROUP_REFERENCE"/>
                    <xs:enumeration value="INVALID_DATA_URI"/>
                    <xs:enumeration value="INVALID_EMAIL_ADDRESS"/>
                    <xs:enumeration value="INVALID_EMPTY_KEY_OWNER"/>
                    <xs:enumeration value="INVALID_FIELD"/>
                    <xs:enumeration value="INVALID_FIELD_FOR_INSERT_UPDATE"/>
                    <xs:enumeration value="INVALID_FIELD_WHEN_USING_TEMPLATE"/>
                    <xs:enumeration value="INVALID_FILTER_ACTION"/>
                    <xs:enumeration value="INVALID_GOOGLE_DOCS_URL"/>
                    <xs:enumeration value="INVALID_ID_FIELD"/>
                    <xs:enumeration value="INVALID_INET_ADDRESS"/>
                    <xs:enumeration value="INVALID_LINEITEM_CLONE_STATE"/>
                    <xs:enumeration value="INVALID_MASTER_OR_TRANSLATED_SOLUTION"/>
                    <xs:enumeration value="INVALID_MESSAGE_ID_REFERENCE"/>
                    <xs:enumeration value="INVALID_OPERATION"/>
                    <xs:enumeration value="INVALID_OPERATOR"/>
                    <xs:enumeration value="INVALID_OR_NULL_FOR_RESTRICTED_PICKLIST"/>
                    <xs:enumeration value="INVALID_PACKAGE_VERSION"/>
                    <xs:enumeration value="INVALID_PARTNER_NETWORK_STATUS"/>
                    <xs:enumeration value="INVALID_PERSON_ACCOUNT_OPERATION"/>
                    <xs:enumeration value="INVALID_QUERY_LOCATOR"/>
                    <xs:enumeration value="INVALID_READ_ONLY_USER_DML"/>
                    <xs:enumeration value="INVALID_SAVE_AS_ACTIVITY_FLAG"/>
                    <xs:enumeration value="INVALID_SESSION_ID"/>
                    <xs:enumeration value="INVALID_SETUP_OWNER"/>
                    <xs:enumeration value="INVALID_STATUS"/>
                    <xs:enumeration value="INVALID_TYPE"/>
                    <xs:enumeration value="INVALID_TYPE_FOR_OPERATION"/>
                    <xs:enumeration value="INVALID_TYPE_ON_FIELD_IN_RECORD"/>
                    <xs:enumeration value="IP_RANGE_LIMIT_EXCEEDED"/>
                    <xs:enumeration value="LICENSE_LIMIT_EXCEEDED"/>
                    <xs:enumeration value="LIGHT_PORTAL_USER_EXCEPTION"/>
                    <xs:enumeration value="LIMIT_EXCEEDED"/>
                    <xs:enumeration value="MALFORMED_ID"/>
                    <xs:enumeration value="MANAGER_NOT_DEFINED"/>
                    <xs:enumeration value="MASSMAIL_RETRY_LIMIT_EXCEEDED"/>
                    <xs:enumeration value="MASS_MAIL_LIMIT_EXCEEDED"/>
                    <xs:enumeration value="MAXIMUM_CCEMAILS_EXCEEDED"/>
                    <xs:enumeration value="MAXIMUM_DASHBOARD_COMPONENTS_EXCEEDED"/>
                    <xs:enumeration value="MAXIMUM_HIERARCHY_LEVELS_REACHED"/>
                    <xs:enumeration value="MAXIMUM_SIZE_OF_ATTACHMENT"/>
                    <xs:enumeration value="MAXIMUM_SIZE_OF_DOCUMENT"/>
                    <xs:enumeration value="MAX_ACTIONS_PER_RULE_EXCEEDED"/>
                    <xs:enumeration value="MAX_ACTIVE_RULES_EXCEEDED"/>
                    <xs:enumeration value="MAX_APPROVAL_STEPS_EXCEEDED"/>
                    <xs:enumeration value="MAX_FORMULAS_PER_RULE_EXCEEDED"/>
                    <xs:enumeration value="MAX_RULES_EXCEEDED"/>
                    <xs:enumeration value="MAX_RULE_ENTRIES_EXCEEDED"/>
                    <xs:enumeration value="MAX_TASK_DESCRIPTION_EXCEEEDED"/>
                    <xs:enumeration value="MAX_TM_RULES_EXCEEDED"/>
                    <xs:enumeration value="MAX_TM_RULE_ITEMS_EXCEEDED"/>
                    <xs:enumeration value="MERGE_FAILED"/>
                    <xs:enumeration value="MISSING_ARGUMENT"/>
                    <xs:enumeration value="MIXED_DML_OPERATION"/>
                    <xs:enumeration value="NONUNIQUE_SHIPPING_ADDRESS"/>
                    <xs:enumeration value="NO_APPLICABLE_PROCESS"/>
                    <xs:enumeration value="NO_ATTACHMENT_PERMISSION"/>
                    <xs:enumeration value="NO_INACTIVE_DIVISION_MEMBERS"/>
                    <xs:enumeration value="NO_MASS_MAIL_PERMISSION"/>
                    <xs:enumeration value="NUMBER_OUTSIDE_VALID_RANGE"/>
                    <xs:enumeration value="NUM_HISTORY_FIELDS_BY_SOBJECT_EXCEEDED"/>
                    <xs:enumeration value="OPTED_OUT_OF_MASS_MAIL"/>
                    <xs:enumeration value="OP_WITH_INVALID_USER_TYPE_EXCEPTION"/>
                    <xs:enumeration value="PACKAGE_LICENSE_REQUIRED"/>
                    <xs:enumeration value="PORTAL_NO_ACCESS"/>
                    <xs:enumeration value="PORTAL_USER_ALREADY_EXISTS_FOR_CONTACT"/>
                    <xs:enumeration value="PRIVATE_CONTACT_ON_ASSET"/>
                    <xs:enumeration value="QUERY_TIMEOUT"/>
                    <xs:enumeration value="RECORD_IN_USE_BY_WORKFLOW"/>
                    <xs:enumeration value="REQUEST_RUNNING_TOO_LONG"/>
                    <xs:enumeration value="REQUIRED_FEATURE_MISSING"/>
                    <xs:enumeration value="REQUIRED_FIELD_MISSING"/>
                    <xs:enumeration value="SELF_REFERENCE_FROM_TRIGGER"/>
                    <xs:enumeration value="SHARE_NEEDED_FOR_CHILD_OWNER"/>
                    <xs:enumeration value="SINGLE_EMAIL_LIMIT_EXCEEDED"/>
                    <xs:enumeration value="STANDARD_PRICE_NOT_DEFINED"/>
                    <xs:enumeration value="STORAGE_LIMIT_EXCEEDED"/>
                    <xs:enumeration value="STRING_TOO_LONG"/>
                    <xs:enumeration value="TABSET_LIMIT_EXCEEDED"/>
                    <xs:enumeration value="TEMPLATE_NOT_ACTIVE"/>
                    <xs:enumeration value="TERRITORY_REALIGN_IN_PROGRESS"/>
                    <xs:enumeration value="TEXT_DATA_OUTSIDE_SUPPORTED_CHARSET"/>
                    <xs:enumeration value="TOO_MANY_APEX_REQUESTS"/>
                    <xs:enumeration value="TOO_MANY_ENUM_VALUE"/>
                    <xs:enumeration value="TRANSFER_REQUIRES_READ"/>
                    <xs:enumeration value="UNABLE_TO_LOCK_ROW"/>
                    <xs:enumeration value="UNAVAILABLE_RECORDTYPE_EXCEPTION"/>
                    <xs:enumeration value="UNDELETE_FAILED"/>
                    <xs:enumeration value="UNKNOWN_EXCEPTION"/>
                    <xs:enumeration value="UNSPECIFIED_EMAIL_ADDRESS"/>
                    <xs:enumeration value="UNSUPPORTED_APEX_TRIGGER_OPERATON"/>
                    <xs:enumeration value="UNVERIFIED_SENDER_ADDRESS"/>
                    <xs:enumeration value="USER_OWNS_PORTAL_ACCOUNT_EXCEPTION"/>
                    <xs:enumeration value="USER_WITH_APEX_SHARES_EXCEPTION"/>
                    <xs:enumeration value="WEBLINK_SIZE_LIMIT_EXCEEDED"/>
                    <xs:enumeration value="WRONG_CONTROLLER_TYPE"/>
                </xs:restriction>
            </xs:simpleType>
        </xsd:schema>
    </types>
    <message name="delete">
        <part name="parameters" element="tns:delete"/>
    </message>
    <message name="deleteResponse">
        <part name="parameters" element="tns:deleteResponse"/>
    </message>
    <message name="search">
        <part name="parameters" element="tns:search"/>
    </message>
    <message name="searchResponse">
        <part name="parameters" element="tns:searchResponse"/>
    </message>
    <message name="create">
        <part name="parameters" element="tns:create"/>
    </message>
    <message name="createResponse">
        <part name="parameters" element="tns:createResponse"/>
    </message>
    <message name="getUserInfo">
        <part name="parameters" element="tns:getUserInfo"/>
    </message>
    <message name="getUserInfoResponse">
        <part name="parameters" element="tns:getUserInfoResponse"/>
    </message>
    <message name="query">
        <part name="parameters" element="tns:query"/>
    </message>
    <message name="queryResponse">
        <part name="parameters" element="tns:queryResponse"/>
    </message>
    <message name="merge">
        <part name="parameters" element="tns:merge"/>
    </message>
    <message name="mergeResponse">
        <part name="parameters" element="tns:mergeResponse"/>
    </message>
    <message name="update">
        <part name="parameters" element="tns:update"/>
    </message>
    <message name="updateResponse">
        <part name="parameters" element="tns:updateResponse"/>
    </message>
    <message name="process">
        <part name="parameters" element="tns:process"/>
    </message>
    <message name="processResponse">
        <part name="parameters" element="tns:processResponse"/>
    </message>
    <message name="retrieve">
        <part name="parameters" element="tns:retrieve"/>
    </message>
    <message name="retrieveResponse">
        <part name="parameters" element="tns:retrieveResponse"/>
    </message>
    <message name="setPassword">
        <part name="parameters" element="tns:setPassword"/>
    </message>
    <message name="setPasswordResponse">
        <part name="parameters" element="tns:setPasswordResponse"/>
    </message>
    <message name="login">
        <part name="parameters" element="tns:login"/>
    </message>
    <message name="loginResponse">
        <part name="parameters" element="tns:loginResponse"/>
    </message>
    <message name="getUpdated">
        <part name="parameters" element="tns:getUpdated"/>
    </message>
    <message name="getUpdatedResponse">
        <part name="parameters" element="tns:getUpdatedResponse"/>
    </message>
    <message name="logout">
        <part name="parameters" element="tns:logout"/>
    </message>
    <message name="logoutResponse">
        <part name="parameters" element="tns:logoutResponse"/>
    </message>
    <message name="convertLeadRecords">
        <part name="parameters" element="tns:convertLeadRecords"/>
    </message>
    <message name="convertLeadRecordsResponse">
        <part name="parameters" element="tns:convertLeadRecordsResponse"/>
    </message>
    <message name="emptyRecycleBin">
        <part name="parameters" element="tns:emptyRecycleBin"/>
    </message>
    <message name="emptyRecycleBinResponse">
        <part name="parameters" element="tns:emptyRecycleBinResponse"/>
    </message>
    <message name="getDeleted">
        <part name="parameters" element="tns:getDeleted"/>
    </message>
    <message name="getDeletedResponse">
        <part name="parameters" element="tns:getDeletedResponse"/>
    </message>
    <message name="invalidateSessions">
        <part name="parameters" element="tns:invalidateSessions"/>
    </message>
    <message name="invalidateSessionsResponse">
        <part name="parameters" element="tns:invalidateSessionsResponse"/>
    </message>
    <message name="loginParnerConnection">
        <part name="parameters" element="tns:loginParnerConnection"/>
    </message>
    <message name="loginParnerConnectionResponse">
        <part name="parameters" element="tns:loginParnerConnectionResponse"/>
    </message>
    <message name="logoutPartnerConnection">
        <part name="parameters" element="tns:logoutPartnerConnection"/>
    </message>
    <message name="logoutPartnerConnectionResponse">
        <part name="parameters" element="tns:logoutPartnerConnectionResponse"/>
    </message>
    <message name="queryAll">
        <part name="parameters" element="tns:queryAll"/>
    </message>
    <message name="queryAllResponse">
        <part name="parameters" element="tns:queryAllResponse"/>
    </message>
    <message name="undelete">
        <part name="parameters" element="tns:undelete"/>
    </message>
    <message name="undeleteResponse">
        <part name="parameters" element="tns:undeleteResponse"/>
    </message>
    <message name="upsert">
        <part name="parameters" element="tns:upsert"/>
    </message>
    <message name="upsertResponse">
        <part name="parameters" element="tns:upsertResponse"/>
    </message>
    <message name="describeGlobal">
        <part name="parameters" element="tns:describeGlobal"/>
    </message>
    <message name="describeGlobalResponse">
        <part name="parameters" element="tns:describeGlobalResponse"/>
    </message>
    <message name="describeDataCategoryGroups">
        <part name="parameters" element="tns:describeDataCategoryGroups"/>
    </message>
    <message name="describeDataCategoryGroupsResponse">
        <part name="parameters" element="tns:describeDataCategoryGroupsResponse"/>
    </message>
    <message name="describeDataCategoryGroupStructures">
        <part name="parameters" element="tns:describeDataCategoryGroupStructures"/>
    </message>
    <message name="describeDataCategoryGroupStructuresResponse">
        <part name="parameters" element="tns:describeDataCategoryGroupStructuresResponse"/>
    </message>
    <message name="describeLayout">
        <part name="parameters" element="tns:describeLayout"/>
    </message>
    <message name="describeLayoutResponse">
        <part name="parameters" element="tns:describeLayoutResponse"/>
    </message>
    <message name="describeSearchScopeOrder">
        <part name="parameters" element="tns:describeSearchScopeOrder"/>
    </message>
    <message name="describeSearchScopeOrderResponse">
        <part name="parameters" element="tns:describeSearchScopeOrderResponse"/>
    </message>
    <message name="describeSObject">
        <part name="parameters" element="tns:describeSObject"/>
    </message>
    <message name="describeSObjectResponse">
        <part name="parameters" element="tns:describeSObjectResponse"/>
    </message>
    <message name="describeSObjects">
        <part name="parameters" element="tns:describeSObjects"/>
    </message>
    <message name="describeSObjectsResponse">
        <part name="parameters" element="tns:describeSObjectsResponse"/>
    </message>
    <message name="describeSoftphoneLayout">
        <part name="parameters" element="tns:describeSoftphoneLayout"/>
    </message>
    <message name="describeSoftphoneLayoutResponse">
        <part name="parameters" element="tns:describeSoftphoneLayoutResponse"/>
    </message>
    <message name="describeTabs">
        <part name="parameters" element="tns:describeTabs"/>
    </message>
    <message name="describeTabsResponse">
        <part name="parameters" element="tns:describeTabsResponse"/>
    </message>
    <message name="getServerTimeStamp">
        <part name="parameters" element="tns:getServerTimeStamp"/>
    </message>
    <message name="getServerTimeStampResponse">
        <part name="parameters" element="tns:getServerTimeStampResponse"/>
    </message>
    <message name="resetPassword">
        <part name="parameters" element="tns:resetPassword"/>
    </message>
    <message name="resetPasswordResponse">
        <part name="parameters" element="tns:resetPasswordResponse"/>
    </message>
    <message name="sendEmail">
        <part name="parameters" element="tns:sendEmail"/>
    </message>
    <message name="sendEmailResponse">
        <part name="parameters" element="tns:sendEmailResponse"/>
    </message>
    <message name="createMetadata">
        <part name="parameters" element="tns:createMetadata"/>
    </message>
    <message name="createMetadataResponse">
        <part name="parameters" element="tns:createMetadataResponse"/>
    </message>
    <message name="deleteMetadata">
        <part name="parameters" element="tns:deleteMetadata"/>
    </message>
    <message name="deleteMetadataResponse">
        <part name="parameters" element="tns:deleteMetadataResponse"/>
    </message>
    <message name="updateMetadatas">
        <part name="parameters" element="tns:updateMetadatas"/>
    </message>
    <message name="updateMetadatasResponse">
        <part name="parameters" element="tns:updateMetadatasResponse"/>
    </message>
    <message name="checkStatusMetadata">
        <part name="parameters" element="tns:checkStatusMetadata"/>
    </message>
    <message name="checkStatusMetadataResponse">
        <part name="parameters" element="tns:checkStatusMetadataResponse"/>
    </message>
    <message name="describeMetadata">
        <part name="parameters" element="tns:describeMetadata"/>
    </message>
    <message name="describeMetadataResponse">
        <part name="parameters" element="tns:describeMetadataResponse"/>
    </message>
    <message name="insertDataIntoCreatedCustomObjects">
        <part name="parameters" element="tns:insertDataIntoCreatedCustomObjects"/>
    </message>
    <message name="insertDataIntoCreatedCustomObjectsResponse">
        <part name="parameters" element="tns:insertDataIntoCreatedCustomObjectsResponse"/>
    </message>
    <message name="createCustomObjectsFromDataOntology">
        <part name="parameters" element="tns:createCustomObjectsFromDataOntology"/>
    </message>
    <message name="createCustomObjectsFromDataOntologyResponse">
        <part name="parameters" element="tns:createCustomObjectsFromDataOntologyResponse"/>
    </message>
    <message name="Exception">
        <part name="fault" element="tns:Exception"/>
    </message>
    <message name="printAsyncResultStatus">
        <part name="parameters" element="tns:printAsyncResultStatus"/>
    </message>
    <message name="printAsyncResultStatusResponse">
        <part name="parameters" element="tns:printAsyncResultStatusResponse"/>
    </message>
    <message name="isUserLoggedIn">
        <part name="parameters" element="tns:isUserLoggedIn"/>
    </message>
    <message name="isUserLoggedInResponse">
        <part name="parameters" element="tns:isUserLoggedInResponse"/>
    </message>
    <message name="describeSalesforceObject">
        <part name="parameters" element="tns:describeSalesforceObject"/>
    </message>
    <message name="describeSalesforceObjectResponse">
        <part name="parameters" element="tns:describeSalesforceObjectResponse"/>
    </message>
    <message name="createSalesforceDataModelOntology">
        <part name="parameters" element="tns:createSalesforceDataModelOntology"/>
    </message>
    <message name="createSalesforceDataModelOntologyResponse">
        <part name="parameters" element="tns:createSalesforceDataModelOntologyResponse"/>
    </message>
    <message name="getDataTypesInCurrentData">
        <part name="parameters" element="tns:getDataTypesInCurrentData"/>
    </message>
    <message name="getDataTypesInCurrentDataResponse">
        <part name="parameters" element="tns:getDataTypesInCurrentDataResponse"/>
    </message>
    <portType name="SalesForceServices">
        <operation name="delete">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/deleteRequest" message="tns:delete"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/deleteResponse" message="tns:deleteResponse"/>
        </operation>
        <operation name="search">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/searchRequest" message="tns:search"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/searchResponse" message="tns:searchResponse"/>
        </operation>
        <operation name="create">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/createRequest" message="tns:create"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/createResponse" message="tns:createResponse"/>
        </operation>
        <operation name="getUserInfo">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/getUserInfoRequest" message="tns:getUserInfo"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/getUserInfoResponse" message="tns:getUserInfoResponse"/>
        </operation>
        <operation name="query">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/queryRequest" message="tns:query"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/queryResponse" message="tns:queryResponse"/>
        </operation>
        <operation name="merge">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/mergeRequest" message="tns:merge"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/mergeResponse" message="tns:mergeResponse"/>
        </operation>
        <operation name="update">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/updateRequest" message="tns:update"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/updateResponse" message="tns:updateResponse"/>
        </operation>
        <operation name="process">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/processRequest" message="tns:process"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/processResponse" message="tns:processResponse"/>
        </operation>
        <operation name="retrieve">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/retrieveRequest" message="tns:retrieve"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/retrieveResponse" message="tns:retrieveResponse"/>
        </operation>
        <operation name="setPassword">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/setPasswordRequest" message="tns:setPassword"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/setPasswordResponse" message="tns:setPasswordResponse"/>
        </operation>
        <operation name="login">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/loginRequest" message="tns:login"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/loginResponse" message="tns:loginResponse"/>
        </operation>
        <operation name="getUpdated">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/getUpdatedRequest" message="tns:getUpdated"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/getUpdatedResponse" message="tns:getUpdatedResponse"/>
        </operation>
        <operation name="logout">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/logoutRequest" message="tns:logout"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/logoutResponse" message="tns:logoutResponse"/>
        </operation>
        <operation name="convertLeadRecords">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/convertLeadRecordsRequest" message="tns:convertLeadRecords"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/convertLeadRecordsResponse" message="tns:convertLeadRecordsResponse"/>
        </operation>
        <operation name="emptyRecycleBin">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/emptyRecycleBinRequest" message="tns:emptyRecycleBin"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/emptyRecycleBinResponse" message="tns:emptyRecycleBinResponse"/>
        </operation>
        <operation name="getDeleted">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/getDeletedRequest" message="tns:getDeleted"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/getDeletedResponse" message="tns:getDeletedResponse"/>
        </operation>
        <operation name="invalidateSessions">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/invalidateSessionsRequest" message="tns:invalidateSessions"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/invalidateSessionsResponse" message="tns:invalidateSessionsResponse"/>
        </operation>
        <operation name="loginParnerConnection">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/loginParnerConnectionRequest" message="tns:loginParnerConnection"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/loginParnerConnectionResponse" message="tns:loginParnerConnectionResponse"/>
        </operation>
        <operation name="logoutPartnerConnection">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/logoutPartnerConnectionRequest" message="tns:logoutPartnerConnection"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/logoutPartnerConnectionResponse" message="tns:logoutPartnerConnectionResponse"/>
        </operation>
        <operation name="queryAll">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/queryAllRequest" message="tns:queryAll"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/queryAllResponse" message="tns:queryAllResponse"/>
        </operation>
        <operation name="undelete">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/undeleteRequest" message="tns:undelete"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/undeleteResponse" message="tns:undeleteResponse"/>
        </operation>
        <operation name="upsert">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/upsertRequest" message="tns:upsert"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/upsertResponse" message="tns:upsertResponse"/>
        </operation>
        <operation name="describeGlobal">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeGlobalRequest" message="tns:describeGlobal"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeGlobalResponse" message="tns:describeGlobalResponse"/>
        </operation>
        <operation name="describeDataCategoryGroups">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeDataCategoryGroupsRequest" message="tns:describeDataCategoryGroups"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeDataCategoryGroupsResponse" message="tns:describeDataCategoryGroupsResponse"/>
        </operation>
        <operation name="describeDataCategoryGroupStructures">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeDataCategoryGroupStructuresRequest" message="tns:describeDataCategoryGroupStructures"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeDataCategoryGroupStructuresResponse" message="tns:describeDataCategoryGroupStructuresResponse"/>
        </operation>
        <operation name="describeLayout">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeLayoutRequest" message="tns:describeLayout"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeLayoutResponse" message="tns:describeLayoutResponse"/>
        </operation>
        <operation name="describeSearchScopeOrder">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeSearchScopeOrderRequest" message="tns:describeSearchScopeOrder"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeSearchScopeOrderResponse" message="tns:describeSearchScopeOrderResponse"/>
        </operation>
        <operation name="describeSObject">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeSObjectRequest" message="tns:describeSObject"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeSObjectResponse" message="tns:describeSObjectResponse"/>
        </operation>
        <operation name="describeSObjects">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeSObjectsRequest" message="tns:describeSObjects"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeSObjectsResponse" message="tns:describeSObjectsResponse"/>
        </operation>
        <operation name="describeSoftphoneLayout">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeSoftphoneLayoutRequest" message="tns:describeSoftphoneLayout"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeSoftphoneLayoutResponse" message="tns:describeSoftphoneLayoutResponse"/>
        </operation>
        <operation name="describeTabs">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeTabsRequest" message="tns:describeTabs"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeTabsResponse" message="tns:describeTabsResponse"/>
        </operation>
        <operation name="getServerTimeStamp">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/getServerTimeStampRequest" message="tns:getServerTimeStamp"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/getServerTimeStampResponse" message="tns:getServerTimeStampResponse"/>
        </operation>
        <operation name="resetPassword">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/resetPasswordRequest" message="tns:resetPassword"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/resetPasswordResponse" message="tns:resetPasswordResponse"/>
        </operation>
        <operation name="sendEmail">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/sendEmailRequest" message="tns:sendEmail"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/sendEmailResponse" message="tns:sendEmailResponse"/>
        </operation>
        <operation name="createMetadata">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/createMetadataRequest" message="tns:createMetadata"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/createMetadataResponse" message="tns:createMetadataResponse"/>
        </operation>
        <operation name="deleteMetadata">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/deleteMetadataRequest" message="tns:deleteMetadata"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/deleteMetadataResponse" message="tns:deleteMetadataResponse"/>
        </operation>
        <operation name="updateMetadatas">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/updateMetadatasRequest" message="tns:updateMetadatas"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/updateMetadatasResponse" message="tns:updateMetadatasResponse"/>
        </operation>
        <operation name="checkStatusMetadata">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/checkStatusMetadataRequest" message="tns:checkStatusMetadata"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/checkStatusMetadataResponse" message="tns:checkStatusMetadataResponse"/>
        </operation>
        <operation name="describeMetadata">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeMetadataRequest" message="tns:describeMetadata"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeMetadataResponse" message="tns:describeMetadataResponse"/>
        </operation>
        <operation name="insertDataIntoCreatedCustomObjects">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/insertDataIntoCreatedCustomObjectsRequest" message="tns:insertDataIntoCreatedCustomObjects"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/insertDataIntoCreatedCustomObjectsResponse" message="tns:insertDataIntoCreatedCustomObjectsResponse"/>
        </operation>
        <operation name="createCustomObjectsFromDataOntology">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/createCustomObjectsFromDataOntologyRequest" message="tns:createCustomObjectsFromDataOntology"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/createCustomObjectsFromDataOntologyResponse" message="tns:createCustomObjectsFromDataOntologyResponse"/>
            <fault message="tns:Exception" name="Exception" wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/createCustomObjectsFromDataOntology/Fault/Exception"/>
        </operation>
        <operation name="printAsyncResultStatus">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/printAsyncResultStatusRequest" message="tns:printAsyncResultStatus"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/printAsyncResultStatusResponse" message="tns:printAsyncResultStatusResponse"/>
            <fault message="tns:Exception" name="Exception" wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/printAsyncResultStatus/Fault/Exception"/>
        </operation>
        <operation name="isUserLoggedIn">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/isUserLoggedInRequest" message="tns:isUserLoggedIn"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/isUserLoggedInResponse" message="tns:isUserLoggedInResponse"/>
        </operation>
        <operation name="describeSalesforceObject">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeSalesforceObjectRequest" message="tns:describeSalesforceObject"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeSalesforceObjectResponse" message="tns:describeSalesforceObjectResponse"/>
        </operation>
        <operation name="createSalesforceDataModelOntology">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/createSalesforceDataModelOntologyRequest" message="tns:createSalesforceDataModelOntology"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/createSalesforceDataModelOntologyResponse" message="tns:createSalesforceDataModelOntologyResponse"/>
        </operation>
        <operation name="getDataTypesInCurrentData">
            <input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/getDataTypesInCurrentDataRequest" message="tns:getDataTypesInCurrentData"/>
            <output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/getDataTypesInCurrentDataResponse" message="tns:getDataTypesInCurrentDataResponse"/>
        </operation>
    </portType>
    <binding name="SalesForceServicesPortBinding" type="tns:SalesForceServices">
        <wsp:PolicyReference URI="#SalesForceServicesPortBindingPolicy"/>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="delete">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="search">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="create">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getUserInfo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="query">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="merge">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="update">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="process">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="retrieve">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="setPassword">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="login">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getUpdated">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="logout">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="convertLeadRecords">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="emptyRecycleBin">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getDeleted">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="invalidateSessions">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="loginParnerConnection">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="logoutPartnerConnection">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="queryAll">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="undelete">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="upsert">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="describeGlobal">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="describeDataCategoryGroups">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="describeDataCategoryGroupStructures">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="describeLayout">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="describeSearchScopeOrder">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="describeSObject">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="describeSObjects">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="describeSoftphoneLayout">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="describeTabs">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getServerTimeStamp">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="resetPassword">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="sendEmail">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="createMetadata">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteMetadata">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateMetadatas">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="checkStatusMetadata">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="describeMetadata">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="insertDataIntoCreatedCustomObjects">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="createCustomObjectsFromDataOntology">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
        <operation name="printAsyncResultStatus">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
        <operation name="isUserLoggedIn">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="describeSalesforceObject">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="createSalesforceDataModelOntology">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getDataTypesInCurrentData">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="SalesForceServices">
        <port name="SalesForceServicesPort" binding="tns:SalesForceServicesPortBinding">
            <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
        </port>
    </service>
</definitions>

