SemanticCloudClient/src/conf/xml-resources/web-service-references/AiPlanningService/wsdl/localhost_8080/AiPlanningServices/AiPlanningService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://services.aiplanning.foi.org.hr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.aiplanning.foi.org.hr/">

<xs:element name="createProblemFile" type="tns:createProblemFile"/>

<xs:element name="createProblemFileResponse" type="tns:createProblemFileResponse"/>

<xs:element name="doesPlanExist" type="tns:doesPlanExist"/>

<xs:element name="doesPlanExistResponse" type="tns:doesPlanExistResponse"/>

<xs:element name="executeServicesFromPlan" type="tns:executeServicesFromPlan"/>

<xs:element name="executeServicesFromPlanResponse" type="tns:executeServicesFromPlanResponse"/>

<xs:element name="findAiPlan" type="tns:findAiPlan"/>

<xs:element name="findAiPlanResponse" type="tns:findAiPlanResponse"/>

<xs:element name="getInteroperabilityProblems" type="tns:getInteroperabilityProblems"/>

<xs:element name="getInteroperabilityProblemsResponse" type="tns:getInteroperabilityProblemsResponse"/>

<xs:element name="prepareAiPlan" type="tns:prepareAiPlan"/>

<xs:element name="prepareAiPlanResponse" type="tns:prepareAiPlanResponse"/>

<xs:element name="removeUnrelatedCsvFiles" type="tns:removeUnrelatedCsvFiles"/>

<xs:complexType name="createProblemFile">
<xs:sequence>
<xs:element name="aiGoal" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createProblemFileResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="doesPlanExist">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="doesPlanExistResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="prepareAiPlan">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="prepareAiPlanResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeUnrelatedCsvFiles">
<xs:sequence>
<xs:element name="directory" type="xs:string" minOccurs="0"/>
<xs:element name="chosenDataContainer" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAiPlan">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAiPlanResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="executeServicesFromPlan">
<xs:sequence>
<xs:element name="plan" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="executeServicesFromPlanResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getInteroperabilityProblems">
<xs:sequence>
<xs:element name="aiGoal" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getInteroperabilityProblemsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>