AiPlanningServices/web/WEB-INF/wsdl/localhost_8080/SemanticServiceDescription1/SalesForceServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.api.salesforce.foi.org.hr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.api.salesforce.foi.org.hr/" name="SalesForceServices">
<wsp:Policy wsu:Id="SalesForceServicesPortBindingPolicy"/>
<types>
<xsd:schema>
<xsd:import namespace="http://services.api.salesforce.foi.org.hr/" schemaLocation="http://localhost:8080/SemanticServiceDescription1/SalesForceServices?xsd=1"/>
</xsd:schema>
</types>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="search">
<part name="parameters" element="tns:search"/>
</message>
<message name="searchResponse">
<part name="parameters" element="tns:searchResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="createResponse">
<part name="parameters" element="tns:createResponse"/>
</message>
<message name="getUserInfo">
<part name="parameters" element="tns:getUserInfo"/>
</message>
<message name="getUserInfoResponse">
<part name="parameters" element="tns:getUserInfoResponse"/>
</message>
<message name="query">
<part name="parameters" element="tns:query"/>
</message>
<message name="queryResponse">
<part name="parameters" element="tns:queryResponse"/>
</message>
<message name="update">
<part name="parameters" element="tns:update"/>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"/>
</message>
<message name="process">
<part name="parameters" element="tns:process"/>
</message>
<message name="processResponse">
<part name="parameters" element="tns:processResponse"/>
</message>
<message name="merge">
<part name="parameters" element="tns:merge"/>
</message>
<message name="mergeResponse">
<part name="parameters" element="tns:mergeResponse"/>
</message>
<message name="retrieve">
<part name="parameters" element="tns:retrieve"/>
</message>
<message name="retrieveResponse">
<part name="parameters" element="tns:retrieveResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="setPassword">
<part name="parameters" element="tns:setPassword"/>
</message>
<message name="setPasswordResponse">
<part name="parameters" element="tns:setPasswordResponse"/>
</message>
<message name="logout">
<part name="parameters" element="tns:logout"/>
</message>
<message name="logoutResponse">
<part name="parameters" element="tns:logoutResponse"/>
</message>
<message name="getDataTypesInCurrentData">
<part name="parameters" element="tns:getDataTypesInCurrentData"/>
</message>
<message name="getDataTypesInCurrentDataResponse">
<part name="parameters" element="tns:getDataTypesInCurrentDataResponse"/>
</message>
<message name="isUserLoggedIn">
<part name="parameters" element="tns:isUserLoggedIn"/>
</message>
<message name="isUserLoggedInResponse">
<part name="parameters" element="tns:isUserLoggedInResponse"/>
</message>
<message name="describeGlobal">
<part name="parameters" element="tns:describeGlobal"/>
</message>
<message name="describeGlobalResponse">
<part name="parameters" element="tns:describeGlobalResponse"/>
</message>
<message name="describeSalesforceObject">
<part name="parameters" element="tns:describeSalesforceObject"/>
</message>
<message name="describeSalesforceObjectResponse">
<part name="parameters" element="tns:describeSalesforceObjectResponse"/>
</message>
<message name="getServerTimeStamp">
<part name="parameters" element="tns:getServerTimeStamp"/>
</message>
<message name="getServerTimeStampResponse">
<part name="parameters" element="tns:getServerTimeStampResponse"/>
</message>
<message name="sendEmail">
<part name="parameters" element="tns:sendEmail"/>
</message>
<message name="sendEmailResponse">
<part name="parameters" element="tns:sendEmailResponse"/>
</message>
<message name="createSalesforceDataModelOntology">
<part name="parameters" element="tns:createSalesforceDataModelOntology"/>
</message>
<message name="createSalesforceDataModelOntologyResponse">
<part name="parameters" element="tns:createSalesforceDataModelOntologyResponse"/>
</message>
<message name="createCustomObjectsFromDataOntology">
<part name="parameters" element="tns:createCustomObjectsFromDataOntology"/>
</message>
<message name="createCustomObjectsFromDataOntologyResponse">
<part name="parameters" element="tns:createCustomObjectsFromDataOntologyResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="insertDataIntoCreatedCustomObjects">
<part name="parameters" element="tns:insertDataIntoCreatedCustomObjects"/>
</message>
<message name="insertDataIntoCreatedCustomObjectsResponse">
<part name="parameters" element="tns:insertDataIntoCreatedCustomObjectsResponse"/>
</message>
<message name="printAsyncResultStatus">
<part name="parameters" element="tns:printAsyncResultStatus"/>
</message>
<message name="printAsyncResultStatusResponse">
<part name="parameters" element="tns:printAsyncResultStatusResponse"/>
</message>
<message name="convertLeadRecords">
<part name="parameters" element="tns:convertLeadRecords"/>
</message>
<message name="convertLeadRecordsResponse">
<part name="parameters" element="tns:convertLeadRecordsResponse"/>
</message>
<message name="emptyRecycleBin">
<part name="parameters" element="tns:emptyRecycleBin"/>
</message>
<message name="emptyRecycleBinResponse">
<part name="parameters" element="tns:emptyRecycleBinResponse"/>
</message>
<message name="getDeleted">
<part name="parameters" element="tns:getDeleted"/>
</message>
<message name="getDeletedResponse">
<part name="parameters" element="tns:getDeletedResponse"/>
</message>
<message name="getUpdated">
<part name="parameters" element="tns:getUpdated"/>
</message>
<message name="getUpdatedResponse">
<part name="parameters" element="tns:getUpdatedResponse"/>
</message>
<message name="invalidateSessions">
<part name="parameters" element="tns:invalidateSessions"/>
</message>
<message name="invalidateSessionsResponse">
<part name="parameters" element="tns:invalidateSessionsResponse"/>
</message>
<message name="queryAll">
<part name="parameters" element="tns:queryAll"/>
</message>
<message name="queryAllResponse">
<part name="parameters" element="tns:queryAllResponse"/>
</message>
<message name="undelete">
<part name="parameters" element="tns:undelete"/>
</message>
<message name="undeleteResponse">
<part name="parameters" element="tns:undeleteResponse"/>
</message>
<message name="upsert">
<part name="parameters" element="tns:upsert"/>
</message>
<message name="upsertResponse">
<part name="parameters" element="tns:upsertResponse"/>
</message>
<message name="describeDataCategoryGroups">
<part name="parameters" element="tns:describeDataCategoryGroups"/>
</message>
<message name="describeDataCategoryGroupsResponse">
<part name="parameters" element="tns:describeDataCategoryGroupsResponse"/>
</message>
<message name="describeDataCategoryGroupStructures">
<part name="parameters" element="tns:describeDataCategoryGroupStructures"/>
</message>
<message name="describeDataCategoryGroupStructuresResponse">
<part name="parameters" element="tns:describeDataCategoryGroupStructuresResponse"/>
</message>
<message name="describeLayout">
<part name="parameters" element="tns:describeLayout"/>
</message>
<message name="describeLayoutResponse">
<part name="parameters" element="tns:describeLayoutResponse"/>
</message>
<message name="describeSearchScopeOrder">
<part name="parameters" element="tns:describeSearchScopeOrder"/>
</message>
<message name="describeSearchScopeOrderResponse">
<part name="parameters" element="tns:describeSearchScopeOrderResponse"/>
</message>
<message name="describeSObject">
<part name="parameters" element="tns:describeSObject"/>
</message>
<message name="describeSObjectResponse">
<part name="parameters" element="tns:describeSObjectResponse"/>
</message>
<message name="describeSObjects">
<part name="parameters" element="tns:describeSObjects"/>
</message>
<message name="describeSObjectsResponse">
<part name="parameters" element="tns:describeSObjectsResponse"/>
</message>
<message name="describeSoftphoneLayout">
<part name="parameters" element="tns:describeSoftphoneLayout"/>
</message>
<message name="describeSoftphoneLayoutResponse">
<part name="parameters" element="tns:describeSoftphoneLayoutResponse"/>
</message>
<message name="describeTabs">
<part name="parameters" element="tns:describeTabs"/>
</message>
<message name="describeTabsResponse">
<part name="parameters" element="tns:describeTabsResponse"/>
</message>
<message name="resetPassword">
<part name="parameters" element="tns:resetPassword"/>
</message>
<message name="resetPasswordResponse">
<part name="parameters" element="tns:resetPasswordResponse"/>
</message>
<message name="createMetadata">
<part name="parameters" element="tns:createMetadata"/>
</message>
<message name="createMetadataResponse">
<part name="parameters" element="tns:createMetadataResponse"/>
</message>
<message name="deleteMetadata">
<part name="parameters" element="tns:deleteMetadata"/>
</message>
<message name="deleteMetadataResponse">
<part name="parameters" element="tns:deleteMetadataResponse"/>
</message>
<message name="updateMetadatas">
<part name="parameters" element="tns:updateMetadatas"/>
</message>
<message name="updateMetadatasResponse">
<part name="parameters" element="tns:updateMetadatasResponse"/>
</message>
<message name="checkStatusMetadata">
<part name="parameters" element="tns:checkStatusMetadata"/>
</message>
<message name="checkStatusMetadataResponse">
<part name="parameters" element="tns:checkStatusMetadataResponse"/>
</message>
<message name="describeMetadata">
<part name="parameters" element="tns:describeMetadata"/>
</message>
<message name="describeMetadataResponse">
<part name="parameters" element="tns:describeMetadataResponse"/>
</message>
<message name="loginParnerConnection">
<part name="parameters" element="tns:loginParnerConnection"/>
</message>
<message name="loginParnerConnectionResponse">
<part name="parameters" element="tns:loginParnerConnectionResponse"/>
</message>
<message name="logoutPartnerConnection">
<part name="parameters" element="tns:logoutPartnerConnection"/>
</message>
<message name="logoutPartnerConnectionResponse">
<part name="parameters" element="tns:logoutPartnerConnectionResponse"/>
</message>
<portType name="SalesForceServices">
<operation name="delete">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="search">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/searchRequest" message="tns:search"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/searchResponse" message="tns:searchResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/createRequest" message="tns:create"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/createResponse" message="tns:createResponse"/>
</operation>
<operation name="getUserInfo">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/getUserInfoRequest" message="tns:getUserInfo"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/getUserInfoResponse" message="tns:getUserInfoResponse"/>
</operation>
<operation name="query">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/queryRequest" message="tns:query"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/queryResponse" message="tns:queryResponse"/>
</operation>
<operation name="update">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/updateRequest" message="tns:update"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/updateResponse" message="tns:updateResponse"/>
</operation>
<operation name="process">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/processRequest" message="tns:process"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/processResponse" message="tns:processResponse"/>
</operation>
<operation name="merge">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/mergeRequest" message="tns:merge"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/mergeResponse" message="tns:mergeResponse"/>
</operation>
<operation name="retrieve">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/retrieveRequest" message="tns:retrieve"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/retrieveResponse" message="tns:retrieveResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/loginRequest" message="tns:login"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="setPassword">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/setPasswordRequest" message="tns:setPassword"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/setPasswordResponse" message="tns:setPasswordResponse"/>
</operation>
<operation name="logout">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/logoutRequest" message="tns:logout"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/logoutResponse" message="tns:logoutResponse"/>
</operation>
<operation name="getDataTypesInCurrentData">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/getDataTypesInCurrentDataRequest" message="tns:getDataTypesInCurrentData"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/getDataTypesInCurrentDataResponse" message="tns:getDataTypesInCurrentDataResponse"/>
</operation>
<operation name="isUserLoggedIn">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/isUserLoggedInRequest" message="tns:isUserLoggedIn"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/isUserLoggedInResponse" message="tns:isUserLoggedInResponse"/>
</operation>
<operation name="describeGlobal">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeGlobalRequest" message="tns:describeGlobal"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeGlobalResponse" message="tns:describeGlobalResponse"/>
</operation>
<operation name="describeSalesforceObject">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeSalesforceObjectRequest" message="tns:describeSalesforceObject"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeSalesforceObjectResponse" message="tns:describeSalesforceObjectResponse"/>
</operation>
<operation name="getServerTimeStamp">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/getServerTimeStampRequest" message="tns:getServerTimeStamp"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/getServerTimeStampResponse" message="tns:getServerTimeStampResponse"/>
</operation>
<operation name="sendEmail">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/sendEmailRequest" message="tns:sendEmail"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/sendEmailResponse" message="tns:sendEmailResponse"/>
</operation>
<operation name="createSalesforceDataModelOntology">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/createSalesforceDataModelOntologyRequest" message="tns:createSalesforceDataModelOntology"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/createSalesforceDataModelOntologyResponse" message="tns:createSalesforceDataModelOntologyResponse"/>
</operation>
<operation name="createCustomObjectsFromDataOntology">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/createCustomObjectsFromDataOntologyRequest" message="tns:createCustomObjectsFromDataOntology"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/createCustomObjectsFromDataOntologyResponse" message="tns:createCustomObjectsFromDataOntologyResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/createCustomObjectsFromDataOntology/Fault/Exception"/>
</operation>
<operation name="insertDataIntoCreatedCustomObjects">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/insertDataIntoCreatedCustomObjectsRequest" message="tns:insertDataIntoCreatedCustomObjects"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/insertDataIntoCreatedCustomObjectsResponse" message="tns:insertDataIntoCreatedCustomObjectsResponse"/>
</operation>
<operation name="printAsyncResultStatus">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/printAsyncResultStatusRequest" message="tns:printAsyncResultStatus"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/printAsyncResultStatusResponse" message="tns:printAsyncResultStatusResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/printAsyncResultStatus/Fault/Exception"/>
</operation>
<operation name="convertLeadRecords">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/convertLeadRecordsRequest" message="tns:convertLeadRecords"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/convertLeadRecordsResponse" message="tns:convertLeadRecordsResponse"/>
</operation>
<operation name="emptyRecycleBin">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/emptyRecycleBinRequest" message="tns:emptyRecycleBin"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/emptyRecycleBinResponse" message="tns:emptyRecycleBinResponse"/>
</operation>
<operation name="getDeleted">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/getDeletedRequest" message="tns:getDeleted"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/getDeletedResponse" message="tns:getDeletedResponse"/>
</operation>
<operation name="getUpdated">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/getUpdatedRequest" message="tns:getUpdated"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/getUpdatedResponse" message="tns:getUpdatedResponse"/>
</operation>
<operation name="invalidateSessions">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/invalidateSessionsRequest" message="tns:invalidateSessions"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/invalidateSessionsResponse" message="tns:invalidateSessionsResponse"/>
</operation>
<operation name="queryAll">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/queryAllRequest" message="tns:queryAll"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/queryAllResponse" message="tns:queryAllResponse"/>
</operation>
<operation name="undelete">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/undeleteRequest" message="tns:undelete"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/undeleteResponse" message="tns:undeleteResponse"/>
</operation>
<operation name="upsert">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/upsertRequest" message="tns:upsert"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/upsertResponse" message="tns:upsertResponse"/>
</operation>
<operation name="describeDataCategoryGroups">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeDataCategoryGroupsRequest" message="tns:describeDataCategoryGroups"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeDataCategoryGroupsResponse" message="tns:describeDataCategoryGroupsResponse"/>
</operation>
<operation name="describeDataCategoryGroupStructures">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeDataCategoryGroupStructuresRequest" message="tns:describeDataCategoryGroupStructures"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeDataCategoryGroupStructuresResponse" message="tns:describeDataCategoryGroupStructuresResponse"/>
</operation>
<operation name="describeLayout">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeLayoutRequest" message="tns:describeLayout"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeLayoutResponse" message="tns:describeLayoutResponse"/>
</operation>
<operation name="describeSearchScopeOrder">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeSearchScopeOrderRequest" message="tns:describeSearchScopeOrder"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeSearchScopeOrderResponse" message="tns:describeSearchScopeOrderResponse"/>
</operation>
<operation name="describeSObject">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeSObjectRequest" message="tns:describeSObject"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeSObjectResponse" message="tns:describeSObjectResponse"/>
</operation>
<operation name="describeSObjects">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeSObjectsRequest" message="tns:describeSObjects"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeSObjectsResponse" message="tns:describeSObjectsResponse"/>
</operation>
<operation name="describeSoftphoneLayout">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeSoftphoneLayoutRequest" message="tns:describeSoftphoneLayout"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeSoftphoneLayoutResponse" message="tns:describeSoftphoneLayoutResponse"/>
</operation>
<operation name="describeTabs">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeTabsRequest" message="tns:describeTabs"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeTabsResponse" message="tns:describeTabsResponse"/>
</operation>
<operation name="resetPassword">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/resetPasswordRequest" message="tns:resetPassword"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/resetPasswordResponse" message="tns:resetPasswordResponse"/>
</operation>
<operation name="createMetadata">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/createMetadataRequest" message="tns:createMetadata"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/createMetadataResponse" message="tns:createMetadataResponse"/>
</operation>
<operation name="deleteMetadata">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/deleteMetadataRequest" message="tns:deleteMetadata"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/deleteMetadataResponse" message="tns:deleteMetadataResponse"/>
</operation>
<operation name="updateMetadatas">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/updateMetadatasRequest" message="tns:updateMetadatas"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/updateMetadatasResponse" message="tns:updateMetadatasResponse"/>
</operation>
<operation name="checkStatusMetadata">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/checkStatusMetadataRequest" message="tns:checkStatusMetadata"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/checkStatusMetadataResponse" message="tns:checkStatusMetadataResponse"/>
</operation>
<operation name="describeMetadata">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeMetadataRequest" message="tns:describeMetadata"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeMetadataResponse" message="tns:describeMetadataResponse"/>
</operation>
<operation name="loginParnerConnection">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/loginParnerConnectionRequest" message="tns:loginParnerConnection"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/loginParnerConnectionResponse" message="tns:loginParnerConnectionResponse"/>
</operation>
<operation name="logoutPartnerConnection">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/logoutPartnerConnectionRequest" message="tns:logoutPartnerConnection"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/logoutPartnerConnectionResponse" message="tns:logoutPartnerConnectionResponse"/>
</operation>
</portType>
<binding name="SalesForceServicesPortBinding" type="tns:SalesForceServices">
<wsp:PolicyReference URI="#SalesForceServicesPortBindingPolicy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="search">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="query">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="process">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="merge">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieve">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setPassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="logout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDataTypesInCurrentData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isUserLoggedIn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="describeGlobal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="describeSalesforceObject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getServerTimeStamp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sendEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createSalesforceDataModelOntology">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createCustomObjectsFromDataOntology">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="insertDataIntoCreatedCustomObjects">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="printAsyncResultStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="convertLeadRecords">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="emptyRecycleBin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDeleted">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUpdated">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="invalidateSessions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="queryAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="undelete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="upsert">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="describeDataCategoryGroups">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="describeDataCategoryGroupStructures">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="describeLayout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="describeSearchScopeOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="describeSObject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="describeSObjects">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="describeSoftphoneLayout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="describeTabs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="resetPassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createMetadata">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteMetadata">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateMetadatas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkStatusMetadata">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="describeMetadata">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loginParnerConnection">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="logoutPartnerConnection">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SalesForceServices">
<port name="SalesForceServicesPort" binding="tns:SalesForceServicesPortBinding">
<soap:address location="http://localhost:8080/SemanticServiceDescription1/SalesForceServices"/>
</port>
</service>
</definitions>