SemanticServiceDescription/utilityFolders/generatedSAWSDLs/AzureServices.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://services.api.azure.foi.org.hr/" name="AzureServices" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://services.api.azure.foi.org.hr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://services.api.azure.foi.org.hr/" schemaLocation="AzureServices_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="insertTodoItem">
    <part name="parameters" element="tns:insertTodoItem"/>
  </message>
  <message name="insertTodoItemResponse">
    <part name="parameters" element="tns:insertTodoItemResponse"/>
  </message>
  <message name="selectQuery">
    <part name="parameters" element="tns:selectQuery"/>
  </message>
  <message name="selectQueryResponse">
    <part name="parameters" element="tns:selectQueryResponse"/>
  </message>
  <message name="findKeys">
    <part name="parameters" element="tns:findKeys"/>
  </message>
  <message name="findKeysResponse">
    <part name="parameters" element="tns:findKeysResponse"/>
  </message>
  <message name="createAzureDataModelOntology">
    <part name="parameters" element="tns:createAzureDataModelOntology"/>
  </message>
  <message name="createAzureDataModelOntologyResponse">
    <part name="parameters" element="tns:createAzureDataModelOntologyResponse"/>
  </message>
  <message name="createTableFromDataOntology">
    <part name="parameters" element="tns:createTableFromDataOntology"/>
  </message>
  <message name="createTableFromDataOntologyResponse">
    <part name="parameters" element="tns:createTableFromDataOntologyResponse"/>
  </message>
  <portType name="AzureServices">
    <operation name="insertTodoItem">
      <input wsam:Action="http://services.api.azure.foi.org.hr/AzureServices/insertTodoItemRequest" message="tns:insertTodoItem"/>
      <output wsam:Action="http://services.api.azure.foi.org.hr/AzureServices/insertTodoItemResponse" message="tns:insertTodoItemResponse"/>
    </operation>
    <operation name="selectQuery">
      <input wsam:Action="http://services.api.azure.foi.org.hr/AzureServices/selectQueryRequest" message="tns:selectQuery"/>
      <output wsam:Action="http://services.api.azure.foi.org.hr/AzureServices/selectQueryResponse" message="tns:selectQueryResponse"/>
    </operation>
    <operation name="findKeys">
      <input wsam:Action="http://services.api.azure.foi.org.hr/AzureServices/findKeysRequest" message="tns:findKeys"/>
      <output wsam:Action="http://services.api.azure.foi.org.hr/AzureServices/findKeysResponse" message="tns:findKeysResponse"/>
    </operation>
    <operation name="createAzureDataModelOntology">
      <input wsam:Action="http://services.api.azure.foi.org.hr/AzureServices/createAzureDataModelOntologyRequest" message="tns:createAzureDataModelOntology"/>
      <output wsam:Action="http://services.api.azure.foi.org.hr/AzureServices/createAzureDataModelOntologyResponse" message="tns:createAzureDataModelOntologyResponse"/>
    </operation>
    <operation name="createTableFromDataOntology">
      <input wsam:Action="http://services.api.azure.foi.org.hr/AzureServices/createTableFromDataOntologyRequest" message="tns:createTableFromDataOntology"/>
      <output wsam:Action="http://services.api.azure.foi.org.hr/AzureServices/createTableFromDataOntologyResponse" message="tns:createTableFromDataOntologyResponse"/>
    </operation>
  </portType>
  <binding name="AzureServicesPortBinding" type="tns:AzureServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="insertTodoItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="selectQuery">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="findKeys">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createAzureDataModelOntology">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createTableFromDataOntology">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="AzureServices">
    <port name="AzureServicesPort" binding="tns:AzureServicesPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

