SemanticCloudClient/web/WEB-INF/wsdl/localhost_8080/SemanticServiceDescription1/AiPlanningServices.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://services.aiplanning.foi.org.hr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.aiplanning.foi.org.hr/">

<xs:element name="createAiProblemFile" type="tns:createAiProblemFile"/>

<xs:element name="createAiProblemFileResponse" type="tns:createAiProblemFileResponse"/>

<xs:complexType name="createAiProblemFile">
<xs:sequence>
<xs:element name="aiGoal" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createAiProblemFileResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>