SemanticCloudClient/web/WEB-INF/wsdl/localhost_8080/SemanticServiceDescription/GoogleAppEngineServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.api.appengine.foi.org.hr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.api.appengine.foi.org.hr/" name="GoogleAppEngineServices">
<types>
<xsd:schema>
<xsd:import namespace="http://services.api.appengine.foi.org.hr/" schemaLocation="http://localhost:8080/SemanticServiceDescription/GoogleAppEngineServices?xsd=1"/>
</xsd:schema>
</types>
<message name="get">
<part name="parameters" element="tns:get"/>
</message>
<message name="getResponse">
<part name="parameters" element="tns:getResponse"/>
</message>
<message name="put">
<part name="parameters" element="tns:put"/>
</message>
<message name="putResponse">
<part name="parameters" element="tns:putResponse"/>
</message>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="query">
<part name="parameters" element="tns:query"/>
</message>
<message name="queryResponse">
<part name="parameters" element="tns:queryResponse"/>
</message>
<message name="getEntitiesOfKind">
<part name="parameters" element="tns:getEntitiesOfKind"/>
</message>
<message name="getEntitiesOfKindResponse">
<part name="parameters" element="tns:getEntitiesOfKindResponse"/>
</message>
<message name="testReturnOfList">
<part name="parameters" element="tns:testReturnOfList"/>
</message>
<message name="testReturnOfListResponse">
<part name="parameters" element="tns:testReturnOfListResponse"/>
</message>
<message name="createDataModelOntology">
<part name="parameters" element="tns:createDataModelOntology"/>
</message>
<message name="createDataModelOntologyResponse">
<part name="parameters" element="tns:createDataModelOntologyResponse"/>
</message>
<portType name="GoogleAppEngineServices">
<operation name="get">
<input wsam:Action="http://services.api.appengine.foi.org.hr/GoogleAppEngineServices/getRequest" message="tns:get"/>
<output wsam:Action="http://services.api.appengine.foi.org.hr/GoogleAppEngineServices/getResponse" message="tns:getResponse"/>
</operation>
<operation name="put">
<input wsam:Action="http://services.api.appengine.foi.org.hr/GoogleAppEngineServices/putRequest" message="tns:put"/>
<output wsam:Action="http://services.api.appengine.foi.org.hr/GoogleAppEngineServices/putResponse" message="tns:putResponse"/>
</operation>
<operation name="delete">
<input wsam:Action="http://services.api.appengine.foi.org.hr/GoogleAppEngineServices/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://services.api.appengine.foi.org.hr/GoogleAppEngineServices/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="query">
<input wsam:Action="http://services.api.appengine.foi.org.hr/GoogleAppEngineServices/queryRequest" message="tns:query"/>
<output wsam:Action="http://services.api.appengine.foi.org.hr/GoogleAppEngineServices/queryResponse" message="tns:queryResponse"/>
</operation>
<operation name="getEntitiesOfKind">
<input wsam:Action="http://services.api.appengine.foi.org.hr/GoogleAppEngineServices/getEntitiesOfKindRequest" message="tns:getEntitiesOfKind"/>
<output wsam:Action="http://services.api.appengine.foi.org.hr/GoogleAppEngineServices/getEntitiesOfKindResponse" message="tns:getEntitiesOfKindResponse"/>
</operation>
<operation name="testReturnOfList">
<input wsam:Action="http://services.api.appengine.foi.org.hr/GoogleAppEngineServices/testReturnOfListRequest" message="tns:testReturnOfList"/>
<output wsam:Action="http://services.api.appengine.foi.org.hr/GoogleAppEngineServices/testReturnOfListResponse" message="tns:testReturnOfListResponse"/>
</operation>
<operation name="createDataModelOntology">
<input wsam:Action="http://services.api.appengine.foi.org.hr/GoogleAppEngineServices/createDataModelOntologyRequest" message="tns:createDataModelOntology"/>
<output wsam:Action="http://services.api.appengine.foi.org.hr/GoogleAppEngineServices/createDataModelOntologyResponse" message="tns:createDataModelOntologyResponse"/>
</operation>
</portType>
<binding name="GoogleAppEngineServicesPortBinding" type="tns:GoogleAppEngineServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="get">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="put">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="query">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEntitiesOfKind">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="testReturnOfList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createDataModelOntology">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GoogleAppEngineServices">
<port name="GoogleAppEngineServicesPort" binding="tns:GoogleAppEngineServicesPortBinding">
<soap:address location="http://localhost:8080/SemanticServiceDescription/GoogleAppEngineServices"/>
</port>
</service>
</definitions>