SemanticCloudClient/web/WEB-INF/wsdl/localhost_8080/SemanticServiceDescription/SalesForceServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.api.salesforce.foi.org.hr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.api.salesforce.foi.org.hr/" name="SalesForceServices">
<types>
<xsd:schema>
<xsd:import namespace="http://services.api.salesforce.foi.org.hr/" schemaLocation="http://localhost:8080/SemanticServiceDescription/SalesForceServices?xsd=1"/>
</xsd:schema>
</types>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="createResponse">
<part name="parameters" element="tns:createResponse"/>
</message>
<message name="getUserInfo">
<part name="parameters" element="tns:getUserInfo"/>
</message>
<message name="getUserInfoResponse">
<part name="parameters" element="tns:getUserInfoResponse"/>
</message>
<message name="query">
<part name="parameters" element="tns:query"/>
</message>
<message name="queryResponse">
<part name="parameters" element="tns:queryResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="logout">
<part name="parameters" element="tns:logout"/>
</message>
<message name="logoutResponse">
<part name="parameters" element="tns:logoutResponse"/>
</message>
<message name="describeGlobal">
<part name="parameters" element="tns:describeGlobal"/>
</message>
<message name="describeGlobalResponse">
<part name="parameters" element="tns:describeGlobalResponse"/>
</message>
<message name="getServerTimeStamp">
<part name="parameters" element="tns:getServerTimeStamp"/>
</message>
<message name="getServerTimeStampResponse">
<part name="parameters" element="tns:getServerTimeStampResponse"/>
</message>
<message name="sendEmail">
<part name="parameters" element="tns:sendEmail"/>
</message>
<message name="sendEmailResponse">
<part name="parameters" element="tns:sendEmailResponse"/>
</message>
<message name="describeSalesforceObject">
<part name="parameters" element="tns:describeSalesforceObject"/>
</message>
<message name="describeSalesforceObjectResponse">
<part name="parameters" element="tns:describeSalesforceObjectResponse"/>
</message>
<message name="isUserLoggedIn">
<part name="parameters" element="tns:isUserLoggedIn"/>
</message>
<message name="isUserLoggedInResponse">
<part name="parameters" element="tns:isUserLoggedInResponse"/>
</message>
<message name="createSalesforceDataModelOntology">
<part name="parameters" element="tns:createSalesforceDataModelOntology"/>
</message>
<message name="createSalesforceDataModelOntologyResponse">
<part name="parameters" element="tns:createSalesforceDataModelOntologyResponse"/>
</message>
<portType name="SalesForceServices">
<operation name="delete">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/createRequest" message="tns:create"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/createResponse" message="tns:createResponse"/>
</operation>
<operation name="getUserInfo">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/getUserInfoRequest" message="tns:getUserInfo"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/getUserInfoResponse" message="tns:getUserInfoResponse"/>
</operation>
<operation name="query">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/queryRequest" message="tns:query"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/queryResponse" message="tns:queryResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/loginRequest" message="tns:login"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="logout">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/logoutRequest" message="tns:logout"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/logoutResponse" message="tns:logoutResponse"/>
</operation>
<operation name="describeGlobal">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeGlobalRequest" message="tns:describeGlobal"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeGlobalResponse" message="tns:describeGlobalResponse"/>
</operation>
<operation name="getServerTimeStamp">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/getServerTimeStampRequest" message="tns:getServerTimeStamp"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/getServerTimeStampResponse" message="tns:getServerTimeStampResponse"/>
</operation>
<operation name="sendEmail">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/sendEmailRequest" message="tns:sendEmail"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/sendEmailResponse" message="tns:sendEmailResponse"/>
</operation>
<operation name="describeSalesforceObject">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeSalesforceObjectRequest" message="tns:describeSalesforceObject"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/describeSalesforceObjectResponse" message="tns:describeSalesforceObjectResponse"/>
</operation>
<operation name="isUserLoggedIn">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/isUserLoggedInRequest" message="tns:isUserLoggedIn"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/isUserLoggedInResponse" message="tns:isUserLoggedInResponse"/>
</operation>
<operation name="createSalesforceDataModelOntology">
<input wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/createSalesforceDataModelOntologyRequest" message="tns:createSalesforceDataModelOntology"/>
<output wsam:Action="http://services.api.salesforce.foi.org.hr/SalesForceServices/createSalesforceDataModelOntologyResponse" message="tns:createSalesforceDataModelOntologyResponse"/>
</operation>
</portType>
<binding name="SalesForceServicesPortBinding" type="tns:SalesForceServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="query">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="logout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="describeGlobal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getServerTimeStamp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sendEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="describeSalesforceObject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isUserLoggedIn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createSalesforceDataModelOntology">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SalesForceServices">
<port name="SalesForceServicesPort" binding="tns:SalesForceServicesPortBinding">
<soap:address location="http://localhost:8080/SemanticServiceDescription/SalesForceServices"/>
</port>
</service>
</definitions>